/*



 * SimpleModal Basic Modal Dialog



 * http://simplemodal.com



 *



 * Copyright (c) 2013 Eric Martin - http://ericmmartin.com



 *



 * Licensed under the MIT license:



 *   http://www.opensource.org/licenses/mit-license.php



 */







#basic-modal-content {display:none;}







/* Overlay */



#simplemodal-overlay {background-color:#000;}







/* Container */



#simplemodal-container {height:394px !important; width: 40% !important; color:#bbb; background-color:#FFFFFF; border:4px solid #FFFFFF; padding:12px;left:50% !important;top:50% !important;margin-left:-20%;margin-top:-250px;}



#simplemodal-container .simplemodal-data {padding:8px;}



#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}



#simplemodal-container a {color:#ddd;}



#simplemodal-container a.modalCloseImg {background:url(../images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}



#simplemodal-container h3 {color:#84b8d9;}


/*------------ div top -----------*/
.b_form_popup{
background: #fff!important;
padding: 0px!important;
}

.top_smnu{
	display: none;
}
/*---category home page---*/
.fb-sb-home{
	height: 250px!important;
	padding-bottom: 1px!important;
}
.b_cate_home{

    position: absolute;
    bottom: 41px;
    font-style: italic;
    font-size: 11px;
    padding-right: 21px;

}
.b_cate_home span{
	font-size: 11px;
	color:#7d7d7d;
}
.b_cate_home ul{
padding:0px;
margin: 0px;
}

.b_cate_home ul.post-categories li{
	float: left;
	margin-right: 5px;
	list-style: none;
}
.b_cate_home a{
	color: #7d7d7d;
	font-size: 11px;
}

#top-menu li{
	float:left;
	margin-right: 8px;
	width: 36px;
	height: 36px;
}
#top-menu a{
	width: 36px !important;
	height: 36px;
}


#top-menu li.b_fb{
background:url(../images/socialicon/facebook.png) no-repeat left center;
}

#top-menu li.b_tw{
background:url(../images/socialicon/twitter.png) no-repeat left center;
}

#top-menu li.b_in{
background:url(../images/socialicon/instar.png) no-repeat left center;
}

#top-menu li.b_yt{
background:url(../images/socialicon/youtube.png) no-repeat left center;
}

#top-menu li.b_ss{
background:url(../images/socialicon/slideshare.png) no-repeat left center;
}

#top-menu li.b_link{
background:url(../images/socialicon/link.png) no-repeat left center;
}

#top-menu li:hover{
	background-position: right center;
}
.b_title_sb{
	    color: #00bff3;
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 18px;
    font-family: Brandon_bld, Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.b_news_letter{
	height: 280px;
	    overflow: hidden;
	    border-top: 2px #000 solid;
	    padding-top: 29px;
}

.b_read_more_video_home{
	 position: absolute;
    bottom: 18px;
    left: 31px;
    color: #00AEEF;
    cursor: pointer;
}

/*----Learn more forum page-------*/

.wr-learn-more{
    position: absolute;
    top: 14px;
    display: inline-block;
    z-index: 99999999999999999;
    right: 20px;
}

.wr-learn-more img{
	width: 145px;
}


.wr-a-forum{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
}


/*------------ Tab forum detail--------*/
.b-wr-tab{
	padding:0px;
	display: inline-block;
	width: 100%;
	margin:0px;
	line-height: 25px;
}
#top_smnu_forum_detail{
	float: left;
	width: 98%;
}
.b-wr-tab li{

float: left;
list-style: none;
margin:0px 13px;
font-size: 13px;
color:#555;
text-transform: uppercase;
cursor: pointer;
}
.b-wr-tab li:hover{
	color: #00BFF3;
}
.activeTab{
	color:#00BFF3!important;
}

.same-area-tab{
	display: none;
}
.b_wr_tab{
	display: block!important;
}
@media only screen and (max-width: 390px){
	.b-wr-tab li{
		margin-top:5px;
	}
	#top_smnu_forum_detail{
		height:94px;
		padding:0px 8px;
	}
}

/*------- Featured banner forum detail---------*/
#wr-img-feature{
		max-height: 390px;
	overflow: hidden;
	margin-bottom: 20px;
	position: relative;
}
#wr-img-feature img{
	width: 100%;

}


/*------ banner on top forum detail-------*/
.b_next_event{
	height: 274px;
	overflow: hidden;
	margin-bottom: 28px;
}
.b_next_event img{
	width: 270px;
	min-height: 200px;
}


/*---- television page ------*/

.video-wrap:hover{
	/*background: #E2E2E2!important;*/
}

.video-wrap:hover .b_over{
	    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #555;
    opacity: 0.6;
}

/*.b_over{
	    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #555;
    opacity: 0.6;
}*/

.wr-top-banner-video-page{
	width: 100%;
	height: 400px;
	overflow: hidden;
}


.wr-cate-video{
	padding:0px 28px!important;
}
.wr-cate-video a{
	color:#7d7d7d;
	font-style: italic;
}

.b_various{
	    float: left;
    width: 33.3%;
    cursor: pointer;
}
.telvsn_vdeo .b_various .vcol2, .videos .b_various .vcol2{
	width: 97%!important;
}

.b_video_name{
	    font-size: 16px;
    font-weight: bold;
    color: #00bff3;
    line-height: 47px;
    float: left;
}

.wr-cate-video{
	color: #7d7d7d;
}

/*--------- News page ---------*/
.blog .b_lf img a .lasted_img{
	width: 100%!important;
}

.b_cate_news{
	bottom: -29px;
}

.lasted_post_link{
	color: #00bff3;
}

.blog-text .t11 strong a{
	color: #000;
}
.b_wr_img_news_page{
	overflow: hidden;
}

.b-wr-text-news-page{
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: rgba(0, 191, 243,0.9);
    height: 100%;
}

.b-wr-text-news-page .l_black {
	margin-top: 14px;
	color: #fff;
}

.b_date_news{
	color: #fff;
}
/*-------News detail--------*/
.related-title{
	margin-bottom: 20px;
	font-size: 16px;
}

.b_item_related{
	width: 48%!important;
}

#blog-left .t24 strong{
	font-size: 25px;
}

#blog-left .t10 p{
	font-size: 16px!important;
	line-height: 23px!important;
}
.wr-linke-share{
	display: inline-block;
    position: relative;
    width: 33px;
    height: 33px;
    float: left;
}
.b_linke_share_btn{
	position: absolute;
    z-index: 2;
    top: 5px;
    opacity: 0;
    overflow: hidden;
    width: 29px!important;
}

.b_twt{
	border-top: none!important;
	padding:0px!important;
}

#b_tw_border{
	    border-top: 2px #000 solid!important;
	        padding: 31px 0!important;
}

.b-img-thum-related{
	min-width: 100%!important;
    height: 185px!important;
    width: auto!important;
}
/*------- Community ---------*/
.wr-pagi{
	text-align: center;
	margin-top: 42px;
}
.b_desc_community p{
    font-family: 'open_sansregular';
    font-size: 13px;
    line-height: 17px;
    color: #484848; 
}
.b_desc_community a{
	color: #0076B6;
}
.menuGallery ul li:nth-child(1) i{
display: inline;
}

.b_underline{
    background: #0ac6f5;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 41px;
    display: none;
}




/*---------- add this --------*/
.addthis_toolbox{
	display: block!important;
}

/*---- gallery ----*/
.slideshowlink{
	display: none;
}


.ngg-gallery-thumbnail-box{
    float: left;
    width: 23.4%;
    height: 221px;
    position: relative;
    padding-top: 20px;
    padding-right: 20px;
    overflow:hidden;
}
.ngg-gallery-thumbnail{
    width: 100%;
    height: 100%;
    overflow:hidden;
}
.ngg-gallery-thumbnail a img{
/*width:100%;*/
width: 358px;
min-height: 215px;
margin:0px;
border:none;
}
.ngg-gallery-thumbnail a img:hover{
background:none;
}

.ngg-gallery-thumbnail-box:nth-child(5), .ngg-gallery-thumbnail-box:nth-child(9), .ngg-gallery-thumbnail-box:nth-child(13){
padding-right:0px;
}
.ngg-gallery-thumbnail span{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-family: 'open_sansbold';
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow:1px 1px 3px #000;
}
.ngg-navigation{
	height: 50px;
	padding-top: 38px!important;
}

.ngg-navigation a.page-numbers, .ngg-navigation .next, .ngg-navigation .prev{
	color: #555;
	border: solid 1px #fff!important;
	border-right: 1px solid #eaeaea!important;
    border-bottom: 1px solid #eaeaea!important;
    padding:10px 14px!important;
}
.ngg-navigation span.current{
	color: #555!important;
	font-weight: bold;
	border: solid 1px #fff!important;
	border-right: 1px solid #eaeaea!important;
    border-bottom: 1px solid #eaeaea!important;
    padding:10px 14px!important;
    font-size: 13px;
}
.ngg-navigation a.page-numbers:hover{
	background: #E4E1E1!important;
	color: #555!important;
}
.ngg-navigation .next:hover, .ngg-navigation .prev:hover{
		background: #E4E1E1!important;
	color: #555!important;
}



/*--------- contact -----------*/
span.wpcf7-list-item {
	display: block; 
	margin:16px 0px;
}

.inputGroup.error .inputText, textarea{

}

span.wpcf7-not-valid-tip{
    position: absolute;
    color: #fff!important;
    right: 5px;
    background-color: #f00;
    bottom: -20px;
}
.choiceRadio{
	position: relative;
}
.choiceRadio .b-wr-text{
	float: left;
}
.choiceRadio .b-wr-text p{
	margin:14px 0px!important;
	/*margin-bottom: 0px!important;*/
}

.wpcf7-radio span span{
	display: none;
}

div.wpcf7-validation-errors{
	display: none!important;
}

.choiceRadio .wpcf7-form-control-wrap{
	display: inline-block;
	float: left;
}

.formGroup.textArea span.wpcf7-not-valid-tip{
	top: -1px;
	height: 20px;
}


/*-----------Count down-----------*/
.b-hide-cd{
	
	height: 201px;
}

/*Custom commit*/
.menuCommit{
	margin-bottom: 25px;
}
.tabCommitments{
	display: inline-block;
	width: 100%;
	padding:0px;

}
.tabCommitments li{
	
	color: #4e4e4e;
    font-size: 14px;
    line-height: 23px;
	
	list-style: none;
	
	cursor: pointer;
}
.activeCommit{
	    border-bottom: solid 2px #0ac6f5;

}
.commitArea{
	display: none;
}
#infoCommitments{
	display: block;
}
.wr_img_commit{
	height:200px!important;
	overflow: hidden;
	width: 400px!important;
}
.wr_img_commit img{
	height:200px!important;
	width: 400px;
	overflow: hidden;
}
.commitArea .descCommu{
	padding-left: 13px;
	height: 220px;
}

#infoCommitments .b_desc_community span{
	line-height: 13px;
}
.b_desc_community .b_large_text{
	    font-size: 19px!important;
    font-weight: bold!important;
    color: #000!important;
    margin-bottom: 17px!important;
}
.b_small_text{
font-size: 9pt!important;
font-family:Arial!important;
line-height: 12px!important;
}
.com_learn_more{
	margin-top: 8px;
	display: inline-block;
	font-size: 8pt;
}

/* Webinar */
.webinar-form{
display: inline-block;
width: 570px;
margin-top: 42px;

}
.webinar-form > div {
	width:200px;
	float: left;
	height: 50px;
	margin:0px 83px 20px 0px;
	position: relative;
}
.webinar-form label{
color: #01B2F3;
    font-size: 16px;
}
.webinar-form i{
	color: red;
}
.webinar-form .input-webinar{
    height: 23px;
    border-radius: 5px;
    box-shadow: none;
    border: solid 1px #CCCCCC;
	font-size: 12px;
}


.webinar-form .wpcf7-submit{
	background: #01B2F3;
    color: #fff;
    border: none;
    width: 100px;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
}

.webinar-form .wpcf7-not-valid-tip{
	right: -46px;
    bottom: -14px;
}
.webinarArea .wpcf7-mail-sent-ok{
	    width: 52%;
}

.community-text{
font-size: 14px;
    color: #555;
    margin: 37px 0px;
}

h3.section-title.title-contact-webinar{
	margin-top: 90px;
}

.descCommu .title.webinarTit{
	font-size: 19px;
}

/*Young leader page*/
.hidden-tit-ylp{
	display: none;
}

.descCommu .readMore.readMoreYlp{
	    bottom: 28px;
}





/*-----------------*/
@media only screen and (max-width: 1190px){
.ngg-gallery-thumbnail-box {
    width: 23.2%;
}
}

@media only screen and (max-width: 1075px){
.ngg-gallery-thumbnail-box {
    width: 23%;
}
}

@media only screen and (max-width: 979px){
.ngg-gallery-thumbnail-box {
    width: 22.8%;
}
}

@media only screen and (max-width: 882px){
.ngg-gallery-thumbnail-box {
    width: 22.6%;
}
}


@media only screen and (max-width: 812px){
.ngg-gallery-thumbnail-box {
    width: 22.5%;
}
}


@media only screen and (max-width: 779px){
.ngg-gallery-thumbnail-box {
    padding-right: 19px;
}
}

@media only screen and (max-width: 768px){
.ngg-gallery-thumbnail-box {
    width: 23%;
	}
}


@media only screen and (max-width: 740px){
.ngg-gallery-thumbnail-box {
    width: 23%;
    display: inline-block;
    padding-right: 15px;
    float: none;
	}
}



@media only screen and (max-width: 710px){
.ngg-gallery-thumbnail-box {
    width: 31%;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    float: none;
	}
}



@media only screen and (max-width: 598px){
	.ngg-gallery-thumbnail-box{
		width: 46%;
	}
}

@media only screen and (max-width: 420px){
	
	.choiceRadio .b-wr-text{
		width: 80%;
	}
	span.wpcf7-list-item{
		margin: 24px 0px;
	}

	.b_various{
		width: 100%;
	}
	
}


@media only screen and (max-width: 400px){
	.ngg-gallery-thumbnail-box{
		width: 220px;
	}
	.choiceRadio .b-wr-text{
		width: 81%;
	}
	span.wpcf7-list-item{
		margin: 33px 0px;
	}

	
}

@media only screen and (max-width: 375px){
	span.wpcf7-list-item{
		margin: 27px 0px;
	}

	
}

@media only screen and (max-width: 320px){
	.choiceRadio .b-wr-text{
		width: 76%;
	}
	span.wpcf7-list-item{
		margin: 32px 0px;
	}

	
}





