/*

 * SimpleModal Basic Modal Dialog

 * http://simplemodal.com

 *

 * Copyright (c) 2013 Eric Martin - http://ericmmartin.com

 *

 * Licensed under the MIT license:

 *   http://www.opensource.org/licenses/mit-license.php

 */



#basic-modal-content {display:none;}



/* Overlay */

#simplemodal-overlay {background-color:#000;}



/* Container */

#simplemodal-container {height:505px; width: 65% !important; color:#bbb; background-color:#FFFFFF; border:4px solid #FFFFFF; padding:12px;left:50% !important;top:50%;margin-left:-33%;margin-top:-250px;}

#simplemodal-container .simplemodal-data {padding:8px;}

#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}

#simplemodal-container a {color:#ddd;}

#simplemodal-container a.modalCloseImg {background:url(../images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}

#simplemodal-container h3 {color:#84b8d9;}

