.ccontent > .left{



 width:696px;



 padding-right:20px;



 float:left;



}



.ccontent > .left h1{



 color:#00a1d4;



 font-size:20px;



 text-transform:uppercase;



 padding-bottom:20px;



 margin:0;



}



.left > p{



 color:#000;



 font-size:12px;



 margin-bottom:10px !important;



 line-height:20px;



}



.left > .resp-business-bx{



 margin:30px 0 0 0;



}



.ccontent .right{



 width:230px;



 border-left:1px dotted #302d2d;



 padding-left:15px;



 float:left;



}



#forum .resp-bsns{



 width:73%;



 float:left;



}



.left  > .partner-item{



 width:100%;



 height:160px;



 vertical-align:top;



}



.partner-item > .left-bar{



 width:30%;



 float:left;



 text-align:left;



}



.partner-item > .right-contnt{



 width:67%;



 padding-right:20px;



 float:left;



}



.partner-item > .right-contnt > p{



 color:#5f5e5e;



 font-size:13px;



 margin-bottom:10px !important;



 line-height:20px;



}



.partner-item > .right-contnt > span.read-case-study{



 color:#c52402;



 font-weight:bold;



 margin:0;



 padding:5px 0;



 font-size:15px;



}



.partner-item > .right-contnt > span.read-case-study a{



 color:#c52402;



}



.partner-item > .right-contnt > span.read-case-study a:hover{



 text-decoration:underline;



}



.left > .speakers{



 width:100%;



}



.left > .speakers .boxs{



 width:45%;



 float:left;



 margin:0 10px 0 0;



 height:320px;



}



.boxs > img{



 float:left;



 margin:0 14px 0 0;



}



.boxs > .desc{



 width:60%;



 float:left;



 min-height:290px;



}



.desc h6{



 color:#1899b6;



 font-weight:bold;



}



.desc span{



 color:#4e4d50;



 font:normal 13px/26px Arial, Helvetica, sans-serif;



}



.desc h6.gray{



 color:#706f77;



 padding-bottom:15px;



 padding-top:7px;



}



.desc p{



 color:#706f77;



 font:normal 12px/20px Arial, Helvetica, sans-serif;



 margin-bottom:0 !important;



}



.ccontent .right > a> img{



 padding-bottom:18px;



}



.rsp-bsns-head{



 width:100%;



 display:inline-block;



}



/*****slider*******/



#carousel {



	width:255px;



	height:165px;



	margin:0 auto;



	overflow:hidden;



}







#slides {



	overflow:hidden;



	/* fix ie overflow issue */



	position:relative;



	width:250px;



	height:250px;



}







/* remove the list styles, width : item width * total items */	



#slides ul {



	position:relative;



	left:0;



	top:0;



	list-style:none;



	margin:0 !important;



	padding:0;	



	width:750px;			



}







/* width of the item, in this case I put 250x250x gif */



#slides ul li {



	width:250px;



	height:150px;	



	float:left;



	margin-bottom:0;



	text-align:center;



}







#slides li img {



	padding:4px;



}







/* Styling for prev and next buttons */



#buttons {



	padding:0 0 5px 0;	



	float:right;



}







#buttons a {



	display:block; 



	width:31px; 



	height:32px;



	text-indent:-999em;



	float:left;



	outline:0;



}







a#prev {



	background:url(arrow.gif) 0 -31px no-repeat; 



}







a#prev:hover {



	background:url(arrow.gif) 0 0 no-repeat;



}







a#next {



	background:url(arrow.gif) -32px -31px no-repeat; 



}







a#next:hover {



	background:url(arrow.gif) -32px 0 no-repeat;



}













/*s;ider 2 starts here */



#carousel_2 {



	width:255px;



	height:120px;



	margin:0 auto;



	overflow:hidden;



}







#slides_2 {



	overflow:hidden;



	/* fix ie overflow issue */



	position:relative;



	width:250px;



	height:250px;



}







/* remove the list styles, width : item width * total items */	



#slides_2 ul {



	position:relative;



	left:0;



	top:0;



	list-style:none;



	margin:0 !important;



	padding:0;	



	width:750px;			



}







/* width of the item, in this case I put 250x250x gif */



#slides_2 ul li {



	width:250px;



	height:150px;	



	float:left;



	margin-bottom:0;



	text-align:center;

	padding-top:40px;

	

	



}







#slides_2 li img {



	padding:4px;



}







/* Styling for prev and next buttons */



#buttons_2 {



	padding:0 0 5px 0;	



	float:right;



}







#buttons_2 a {



	display:block; 



	width:31px; 



	height:32px;



	text-indent:-999em;



	float:left;



	outline:0;



}







a#prev_2 {



	background:url(arrow.gif) 0 -31px no-repeat; 



}







a#prev_2:hover {



	background:url(arrow.gif) 0 0 no-repeat;



}







a#next_2 {



	background:url(arrow.gif) -32px -31px no-repeat; 



}







a#next_2:hover {



	background:url(arrow.gif) -32px 0 no-repeat;



}



/*s;ider 2 ends here */



















/*s;ider 2 starts here */



#carousel_3 {



	width:255px;



	height:120px;



	margin:0 auto;



	overflow:hidden;



}







#slides_3 {



	overflow:hidden;



	/* fix ie overflow issue */



	position:relative;



	width:250px;



	height:250px;



}







/* remove the list styles, width : item width * total items */	



#slides_3 ul {



	position:relative;



	left:0;



	top:0;



	list-style:none;



	margin:0 !important;



	padding:0;	



	width:750px;	

			



}







/* width of the item, in this case I put 250x250x gif */



#slides_3 ul li {



	width:250px;



	height:150px;	



	float:left;



	margin-bottom:0;

	



	text-align:center;

	

		padding-top:40px;



}







#slides_3 li img {



	padding:4px;



}







/* Styling for prev and next buttons */



#buttons_3 {



	padding:0 0 5px 0;	



	float:right;



}







#buttons_3 a {



	display:block; 



	width:31px; 



	height:32px;



	text-indent:-999em;



	float:left;



	outline:0;



}







a#prev_3 {



	background:url(arrow.gif) 0 -31px no-repeat; 



}







a#prev_3:hover {



	background:url(arrow.gif) 0 0 no-repeat;



}







a#next_3 {



	background:url(arrow.gif) -32px -31px no-repeat; 



}







a#next_3:hover {



	background:url(arrow.gif) -32px 0 no-repeat;



}



/*s;ider 2 ends here */



.min-height_210{



 min-height:210px !important;



}



.tweets-feed{



 width:100%;



 margin:0 0 0 0;



 height:390px;



}



.height_right{



 height:675px;



}



/****29/6/13*****/



.meadia_head{



 color:#00CCFF;



 font-size:14px;



 margin:5px 0;



}



table.agendatab_new{



 margin:10px 0 0 0;



}



table.agendatab_new td{



 border:1px solid #fff;

font-size: 13px;

 /*font:normal 12px Arial, Helvetica, sans-serif;*/



}



table.agendatab_new td.odd_bg-left{



 background:#fff;



 color:#00A1D4 !important;



 border-bottom:1px solid #e4e4e4;



}



table.agendatab_new td.even_bg-left{



 background:#fff;



 color:#00A1D4 !important;



  border-bottom:1px solid #e4e4e4;



 



}



table.agendatab_new td.odd_bg-right{



 background:#e4e4e4;



}



table.agendatab_new td.even_bg-right{



 background:#efefef;



}



/*********menu**********/



#top_menu_sub{



  margin: 8px 0 0 15px;



 



    height: 32px;

 





   /* width: 480px;*/



	float:right;



	padding:0px;



	background:#00AEF0;



	



}



#top_menu_sub li ul {







  padding: 0px;



  list-style: none;



}







#top_menu_sub > li {



  float: left;



/* position: relative;*/



   list-style: none;



}







#top_menu_sub li ul {



  display: none;



  z-index: 100;



  width: 200px;



 position: absolute;

 margin-left:0;





}







#top_menu_sub li a {



 display: block;



}







#top_menu_sub li:hover ul {



  display: block



}







#top_menu_sub > li {



  background-color: #00AEF0;



 margin: 0;



}







#top_menu_sub li:hover {



  background-color: #00AEF0;



}







#top_menu_sub > li > a {



  color: #fff;



  text-decoration: none;



  margin:7px 0;



  text-transform: uppercase;



 padding: 0 12px;



 border-left:1px solid #fff;



 font:normal 13px/17px "Trebuchet MS", Arial, Helvetica, sans-serif;



}



#top_menu_sub > li:first-child > a{



 border:none;



}



#top_menu_sub > li > a:hover{



 background:none;



 text-decoration:underline;



}



#top_menu_sub li ul {



  background-color: #00AEF0;



  border:1px solid #fff;



}



#top_menu_sub li ul li a {



  color: #fff;



  text-decoration: none;



  margin:0 10px;



  border-bottom:1px dotted #fff;



 font:normal 13px/30px "Trebuchet MS", Arial, Helvetica, sans-serif;



}



#top_menu_sub li ul li:last-child a{



 border-bottom:none;



}



#top_menu_sub li ul li a:hover {



  text-decoration: none;



  color:#abe8ff;



}







#top_menu_sub > li > a.selected{



 text-decoration:underline; 



}



/*********menu**********/







table.agendatab_new td.odd_bg-right, table.agendatab_new td.even_bg-right{



 padding-left:5px;



 color:#565656;



}



table.agendatab_new td.odd_bg-left, table.agendatab_new td.even_bg-left{



color:#fff;



}



















.tweets-feed .forum-tweet-title{



 /*background:url(../forum-images/twitter.png) no-repeat right center #00A1D5;*/



 color:#fff;



 padding:5px 0 5px 8px;



 font:bold 20px/30px "Trebuchet MS", Arial, Helvetica, sans-serif;



}



.tweets-feed > .twts_box{



 border:1px solid #e8e8e8;



 padding:15px 12px;



} 



.twts_box > img{



 float:left;



 margin:0 11px 0 0;



}



.twts_box > .twt_txt{



 float:left;



 width:148px;



}



.twts_box > .twt_txt span{



 margin-bottom:5px;



 display:block;



 color:#707070;



 font:normal 12px/18px Arial, Helvetica, sans-serif;



}



.twts_box > .twt_txt span a{



 color:#707070;



}



.twts_box > .twt_txt span a:hover{



 color:#535353;



 text-decoration:none;



}



.boxs > .desc{



 height:380px;



 width:72%;



}



.left > .speakers .boxs{



 width:48%;



 height:390px;



 margin-bottom:10px;



 border:1px solid #F2F2F2;



 padding-top:10px;



 background:#f9f9f9;



}



.boxs > img{



 margin:0 7px;



}



.boxs > .desc_partnr{



 width:66%;



 height:280px;



}



.height_bx_290{



 height:300px !important;



}







.height_bx_290 > div{



float:left;



width:112px;



}







.height_bx_290 > div > img{







	







}















table.agendatab_new td.odd_bg-right{



 background:#f3f3f3;



}



table.agendatab_new td.even_bg-right{



 background:#e6e6e6;



}



table.agendatab_new td.even_bg-left, table.agendatab_new td.odd_bg-left{



 border:1px solid #E4E4E4;



 border-bottom:none;



}



td.bordr_bottom{



 border-bottom:1px solid #E4E4E4 !important;



}



td.bodr_none{



 border-bottom:none !important;



 border-top:none !important;



}











.section-title{ text-transform:uppercase!important;}











.regtable{width: 696px;







float: left; border-top:1px dotted #302d2d; padding-top:10px; margin-bottom:40px;}







.regtableleft{ width:500px; float:left;}



.regtableleft h2{ font-size: 12pt; color: #00ccff; padding:0px; margin:0px;}



.regtableleft p{ font-size: 12pt; color: #a1a1a1; margin-bottom:10px !important; font-size:14px;}



.regtableleft span{ font-size: 18px; color: #a1a1a1; font-weight:bold;}



.regtableright{ width:180px; float:right;}



.regbt{ width:175px; float:left; height:20px; color:#fff; background:#26b4f0; font-size:12px; padding-top:3px; text-align:center; }



.regbt a{color:#fff!important; text-decoration:none;}



.regbt a:hover{color:#9ae1ff; text-decoration:none;}





.f-div-sml {

  /*border-bottom: 2px solid #4D4D4D;*/

  height: 173px;

  overflow: hidden;

  position: relative;

  top: 0;

}



.f-div-sml img{margin: -38px 0 0 -63px;width: 408px !important; height:auto;}

.f-div-nws {  height: 173px;  overflow: hidden;  position: relative;  top: 0;}

.f-div-nws img{

	height: 173px !important;

    /*width: 304px !important;*/

}

.various{position:relative;}

.videos_banner .various{position:inherit;}

.pl_btn{background:url(../images/player.png) no-repeat 0 0;position:absolute;}