

#fwslider {position:relative;width:100%;height:auto !important;margin-bottom: 55px;
    max-height: 410px !important;}

#fwslider .slider_container {height: 391px;overflow:hidden;/*border-top:5px #00aeef solid;*/}

#fwslider .slide {position:absolute;top:0;left:0;z-index:0;width:100%;/*overflow: hidden;*/}

/*#fwslider .slide img {width:100%;height:auto;}*/
#fwslider .slide img {max-width:100%;height:auto;}
#fwslider .slidePrev {width:50px;height:50px;position: absolute;top: inherit !important;left:0;opacity:0;z-index: 10;bottom: 30px;}

#fwslider .slidePrev span { background-image:url("../images/left_arrow.png");width:50px; height:50px;float:left;background-position: 50% 50%;background-repeat: no-repeat;cursor: pointer;}

#fwslider .slideNext {width:50px;height:50px;position: absolute;top:inherit !important;right:0;opacity:0;z-index: 10;bottom: 30px;}

#fwslider .slideNext span {background-image:url("../images/right_arrow.png");width:50px;height:50px;float:left;background-position: 50% 50%;background-repeat: no-repeat;cursor: pointer;}

#fwslider .timers {height:4px;position: absolute;bottom:-24px;right:-7px;z-index: 3;width: auto !important;}

#fwslider .timer {height:4px;width:32px;background-color: #7d7d7d;float:left;margin-right: 6px;}

#fwslider .progress {height:4px;width:0%;background-color:#00b9f2;float:left;}

#fwslider .slide_content {top:0;left:0; position: absolute;width:100%;height:100%;z-index: 99999999999;}

#fwslider .slide_content_wrap { /* Slider Text Content Container Style */max-width:1280px;margin:0;}

#fwslider .title {  /* Slider Title Style */opacity: 0;color:#000;font-size:36px;float:left;font-family:"Lucida Sans Unicode", "Lucida Grande";font-style:normal;font-weight: 400;margin-left:40px;height: 248px;}

#fwslider .description { /* Slider Description Style */opacity: 0;color:#fff;font-size:30px;background:url(../images/arrow-banner.png) no-repeat 0 50%;padding:4px 0 4px 32px;clear:both;float:left;margin-top:2px;line-height:24px;font-family:"Lucida Sans Unicode", "Lucida Grande"; font-style: normal;font-weight: 400;position: absolute;bottom: 26px;text-transform:uppercase;display:block;}

#fwslider .description span{ font-size:18px;text-transform:uppercase;display:block;}

#fwslider .readmore { /* Slider Read More button Style */opacity: 0;clear:both;float:left;text-transform:uppercase;font-size:10px;color:#919191;background:#000;padding:10px;text-decoration: none;margin-top:2px;font-family:"Lucida Sans Unicode", "Lucida Grande";font-style: normal;font-weight: 400;}

#fwslider .readmore:hover {color:#fff;}



@media only screen and (max-width: 479px){

#fwslider .description	

}



@media only screen and (max-width: 1156px){

	#fwslider .slider_container {height: 375px;}

}

@media only screen and (max-width: 1064px){

	#fwslider .slider_container {height: 360px;}

}

@media only screen and (max-width: 1008px){

	#fwslider .slider_container {height: 341px;}

}

@media only screen and (max-width:931px){

	#fwslider .slider_container {height: 314px;}

}

@media only screen and (max-width:836px){

	#fwslider .slider_container {height: 289px;}

}

@media only screen and (max-width:768px){

	#fwslider .slider_container {height: 326px;}

}
@media only screen and (max-width:751px){

	#fwslider .slider_container {height: 312px;}

}
@media only screen and (max-width:725px){

	#fwslider .slider_container {height: 293px;}

}
@media only screen and (max-width:714px){

	#fwslider .slider_container {height: 285px;}

}

@media only screen and (max-width:705px){

	#fwslider .slider_container {height: 279px;}

}
@media only screen and (max-width:667px){

	#fwslider .slider_container {height: 266px;}

}
@media only screen and (max-width:643px){

	#fwslider .slider_container {height: 258px;}

}

@media only screen and (max-width:631px){

	#fwslider .slider_container {height: 254px;}

}
@media only screen and (max-width:635px){

	#fwslider .slider_container {height: 254px;}

}
@media only screen and (max-width:620px){

	#fwslider .slider_container {height: 247px;}

}
@media only screen and (max-width:603px){

	#fwslider .slider_container {height: 237px;}

}

@media only screen and (max-width:564px){

	#fwslider .slider_container {height: 222px;}

}
@media only screen and (max-width:552px){

	#fwslider .slider_container {height: 220px;}

}
@media only screen and (max-width:533px){

	#fwslider .slider_container {height: 208px;}

}
@media only screen and (max-width:510px){

	#fwslider .slider_container {height: 198px;}

}

@media only screen and (max-width:497px){

	#fwslider .slider_container {height: 195px;}

}

@media only screen and (max-width:476px){

	#fwslider .slider_container {height:187px;}

}

@media only screen and (max-width:450px){

	#fwslider .slider_container {height:175px;}

}

@media only screen and (max-width:425px){

	#fwslider .slider_container {height:165px;}

}

@media only screen and (max-width:413px){

	#fwslider .slider_container {height: 158px;}

}

@media only screen and (max-width:371px){

	#fwslider .slider_container {height: 141px;}

}

@media only screen and (max-width:361px){

	#fwslider .slider_container {height: 141px;}

}

@media only screen and (max-width:365px){

	#fwslider .slider_container {height: 182px;}

}

@media only screen and (max-width:343px){

	#fwslider .slider_container {height: 129px;}

}

@media only screen and (max-width:349px){

	#fwslider .slider_container {height: 141px !important;}

}

@media only screen and (max-width:334px){

	#fwslider .slider_container {height: 126px;}

}

@media only screen and (max-width:315px){

	#fwslider .slider_container {height: 119px;}

}

@media only screen and (max-width:304px){

	#fwslider .slider_container {height: 115px;}

}

@media only screen and (max-width:290px){

	#fwslider .slider_container {height: 106px;}

}

@media only screen and (max-width:272px){

	#fwslider .slider_container {height: 151px;}

}

