.countDown{
	background:url(../images/bg-countdown.jpg) no-repeat;
	width:270px;
	height:460px;
	display: block;
    margin-bottom: 34px;
    padding-top: 14px;
}
.countDown .title{
	width: 170px;
	height:170px;
	border:6px solid #fff;
	text-transform: uppercase;
	position:relative;
	margin:0 45px;
}
.countDown .title p{
	display: block;
	margin:0 auto;
	position:absolute;
	bottom:20px;
	left:8px;
	font-family:'GothamBold';
	color:#fff;
	font-size: 22px;
	text-align: :center;
}
.countDown .desc{
	font-family:'GothamBook';
	width: 100%;
	margin-top:15px;
	text-transform: uppercase;
}
.countDown .desc p{
	color:#fff;
	font-size:10.5px;
	text-align: center;
}
.countDown .time{
	display: block;
	margin:25px auto 0;
	text-align: center;
}
.countDown .col{
	display: inline-block;
	text-align: center;
}
.countDown .text{
	display: block;
	margin:-5px auto 0;
	text-align: center;
	color:#fff;
	font-size:10.08px;
	font-family: "Bebas";
}
.countDown .text span{
	padding:0 33px;
}
.registerNow{
	display: block;
	margin:50px auto 0;
	text-align: center
}
.registerNow a{
	color:#fff;
	font-family: "GothamBold";
	font-size:21px;
	text-decoration: none;
}
.evnt_img{
	position:relative;
	transition: all 0.5s;
}
.lopMask{
	background: url(../images/lopMask.png) repeat;
	position:absolute;
	width:100%;
	height:100%;
	left:0px;
	transition: all 500ms;
	-webkit-transform: translate3d(0,200px,0);
	transform: translate3d(0,200px,0);
}
.lopMask .icon-view{
	width:30px;
	height:19px;
	transition: all 500ms;
	transform:scale(0);
	transition-delay: 400ms;
}
.lopMask .imgText{
	position: relative;
	top:60px;
	text-align: center;
}
.lopMask .imgText p{
	margin-top:10px;
}
.lopMask .imgText a{
	font-family: "GothamMedium";
	color:#fff;
	font-size:14px;
	margin:10px 0 0 0;
	text-transform: uppercase;
	transition: all 500ms;
	transform: translate3d(0,100px,0);
	transition-delay: 400ms;
	cursor: pointer;
}
.evnt_img:hover .lopMask{
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	top:0px;
}
.evnt_img:hover .lopMask .icon-view{
	transform:scale(1);
}
.evnt_img:hover .lopMask .imgText p{
	transform: translate3d(0,0,0);
}
.hlt.formIndex{
	width:100%;
}
.formIndex #event-list-left ul li{
	width: 32.8%;
}
.formIndex #event-list .cell1{
	width: 100%;
}
.formIndex #event-list .cell2{
	width:0px;
}
.menuGallery ul{
	padding:0px;
	list-style: none;
	margin:0px;
	border-bottom:1px solid #e6e7e8;
}
.menuGallery li{
	float:left;
	padding:0 15px 20px 15px;
	position:relative;
}
.menuGallery li i{
	background:#0ac6f5;
	height:2px;
	width: 100%;
	position:absolute;
	left:0px;
	top:41px;
	display: none;
}
.menuGallery li:hover i{
	display: block;
}
.menuGallery li a{
	color:#4e4e4e;
	font-size:14px;
	line-height:23px;
}
.contentGallery .col-md-3{
	float:left;
	width: 23.4%;
	height:221px;
	position:relative;
	padding-top:20px;
	padding-right:20px;
}
.contentGallery .col-md-3 img{
	width:100%;
	height:100%;
}
.contentGallery .rowItem{
	display: block;
	margin:0 auto;
	text-align: center;
}
.imgTextCommu{
	margin-top:20px;
	position: relative;
	margin-bottom: 47px;
}
.descCommu{
	position:relative;
	float:left;
	width:56%;
	padding:5px 0px 0px 20px;
	height:265px;
}
.descCommu .line{
	background:#0ac6f5;
	height:2px;
	width: 100px;
	position:relative;
	top:5px;
	display: block;
}
.descCommu .desc{
	margin-top:25px;
	font-family: 'open_sansregular';
	font-size: 13px;
	line-height: 17px;
	color:#231f20;
}
.imgTextCommu .imgCommu{
	width: 40%;
	float:left;
	height:240px;
}
.descCommu .title{
	font-family: 'open_sansbold';
	font-size: 22px;
	color:#231f20;
	line-height: 17px;
}
.descCommu .readMore{
	font-family: 'open_sansregular';
	font-size: 13px;
	line-height: 17px;
	color:#0ac6f5;
	border:1px solid #e6e7e8;
	width: 100px;
	height:35px;
	text-align: center;
	line-height: 35px;
	position: absolute;
	display: block;
	bottom:3px;
}
.img-responsive{
	max-width: 100%;
	height:100%;
	display: block;
}

.galleryImages .titleImages{
	position:absolute;
	bottom:10px;
	left:10px;
	font-family: 'open_sansbold';
	color:#fff;
	font-size:12px;
	text-transform: uppercase;
}
.lastItem {
	padding-right:0px !important;
}
.formContact{
	margin-top:-30px;
}
.formGroup{
	padding-top:30px;
	float:left;
	width: 250px;
	margin-right:40px;
}
.formGroup label{
	font-family: "open_sansregular";
	font-size:15.6px;
	color:#00bff3;
}
.formGroup .inputText{
	width: 100%;
	margin-right:5px;
	height:40px;
	font-family: "open_sansregular";
	font-size:15.6px;
	color:#707070;
	padding:0 5px;
}
.inputGroup{
	position:relative;
	width: 100%;
	margin-top:3px;
}
.inputGroup label{
	font-family: "open_sansregular";
	background: red;
	color:#fff;
	font-size:11px;
	position: absolute;
	right:-14px;
	text-align: center;
	top:40px;
	padding:0px 10px;
	display: none;
}
.choiceRadio{
	margin-top:30px;
	font-family: "open_sansregular";
	font-size:17px;
	line-height: 18px;
	color:#707070;
	display: inline-block;
	width: 100%;
}
.choiceRadio .radioBox{
	margin-top:8px;
}
.choiceRadio input[type=radio   ]:not(old){
  width     : 2em;
/*  display: none;*/
}

.choiceRadio input[type=radio]:not(old) + label > span{
  display          : block;
  width            : 19px;
  height           : 19px;
  background       : url(../images/bg-radio.png) no-repeat;
  float:left;
  padding:0 0 0 5px;
}

.choiceRadio input[type=radio]:not(old):checked +  label > span > span{
  display          : block;
  width            : 13px;
  height           : 13px;
  background       :url(../images/bg-radio-check.png) no-repeat;
  margin: 3px 0 0 -2px;
}
.textArea{
	width: 555px;
}
.submit{
	background:#00bff3;
	color:#fff;
	font-family: "open_sansregular";
	font-size:17px;
	text-transform: uppercase;
	box-shadow: 0px;
	padding:5px 15px;
	border:0px;
	margin-top:30px;
}
.inputArea textarea{
	width:98.5%;
	height:115px;
	resize:none;
	padding:10px 10px 0;
	font-family: "open_sansregular";
	font-size:17px;
	line-height: 18px;
}
.inputArea label{
	top:126px;
	right:-24px;
}
.inputGroup.error label{
	display: block;
}
.inputGroup.error .inputText,textarea{
	/*border:2px solid red;*/
}
.bottomPage{
	margin-top:25px;
}
.img-responsiveIndex{
	max-width: 100%;
	height:auto;
	display: block;
	margin: 0 auto;
	margin-top: 25px;
}

@media only screen and (max-width:1190px ){
	.contentGallery .col-md-3{
		width: 23.2%;
	}

}

@media only screen and (max-width:1075px){
	.formIndex #event-list-left ul li{
		width:32%;
	}
	.contentGallery .col-md-3{
			width: 23%;
	}
}
@media only screen and (max-width: 1023px){
	.imgTextCommu .imgCommu{
		width:100%;
		float:none;
		display: block;
		margin:0 auto;
	}
	.imgTextCommu .imgCommu img{
		margin:0 auto;
		display: block;
		text-align: center;
	}
	.descCommu{
		float:none;
		width:100%;
		padding:20px 20px 0 20px;
		text-align: left;
		height:auto;
	}
	.descCommu .readMore{
		position: relative;
		margin-top:25px;
	}
}
@media only screen and (max-width: 979px){
	.contentGallery .col-md-3{
		width:22.8%;
	}
}
@media only screen and (max-width: 882px){
	.contentGallery .col-md-3{
		width:22.6%;
	}
}
@media only screen and (max-width: 812px){
	.contentGallery .col-md-3{
		width:22.5%;
	}
}
@media only screen and (max-width:779px){
	.formIndex #event-list-left ul li{
		margin:0 auto;
		display: inline-block;
		float:none;
	}
	.formIndex .event-wrap-right{
		margin:10px 0 0 0;
	}
	.hlt.formIndex{
		display: block;
		margin:0 auto;
		text-align: center;
	}
	.contentGallery .col-md-3{
		padding-right:19px;
	}
}
@media only screen and (max-width: 768px){
	.contentGallery .col-md-3{
		width:23%;
	}
}
@media only screen and (max-width: 740px){
	.contentGallery .col-md-3{
		width: 23%;
		display: inline-block;
		padding-right:15px;
		float:none;
	}
}
@media only screen and (max-width: 710px){
	.contentGallery .col-md-3{
		width: 31%;
		display: inline-block;
		padding-left:5px;
		padding-right:5px;
		float:none;
	}
	.lastItem{
		padding-left:5px !important;
		padding-right:5px !important;
	}
}
@media only screen and (max-width: 598px){
	.contentGallery .col-md-3{
		width: 46%;
	}
	.textArea{
		width: 255px;
	}
}
@media only screen and (max-width: 513px){
	.formGroup{
		padding-right:5px;
	}
}
@media only screen and (max-width:490px){
	.formIndex #event-list-left ul li{
		width: 100%;
	}
	#event-list .actions.gallery {
		width:100%;
	}
	#event-list .actions.commuNity{
		width: 95%;
		display: block;
		margin:0 auto;
	}
	.descCommu{
		padding:20px 5px 0 5px;
	}
	.inputGroup{
		max-width: 390px;
	}
}
@media only screen and (max-width: 400px){
	.contentGallery .col-md-3{
		width: 220px;
	}
	.inputGroup{
		max-width: 340px;
	}
}
@media only screen and (max-width: 365px) {
	.inputGroup{
		max-width: 300px;
	}
}
@media only screen and (max-width: 320px){
	.menuGallery li{
		padding: 0 8px 20px 8px;
	}
}