	



	img{border:none;}



	



			



    /* image replacement */



        .graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{



            margin:0;



            padding:0;



            display:block;



            overflow:hidden;



            text-indent:-8000px;



            }



    /* // image replacement */



			







	#slider{



		 margin-top: 10px;



	}



	



	#slider ul, #slider li,



	#slider2 ul, #slider2 li{



		margin:0;



		padding:0;



		list-style:none;



		}



	#slider2{margin-top:1em;}



	#slider li, #slider2 li{ 



		/* 



			define width and height of list item (slide)



			entire slider area will adjust according to the parameters provided here



		*/ 



		width:940px;



		height:280px;



		overflow:hidden; 		



		}	



	#prevBtn, #nextBtn,



	#slider1next, #slider1prev{ 



		display:block;



		width:30px;



		height:77px;



		position:absolute;



		left:918px;



		top:287px;



		z-index:1000;



		}	



	#nextBtn, #slider1next{ 



		left:947px;



		}														



	#prevBtn a, #nextBtn a,



	#slider1next a, #slider1prev a{  



		display:block;



		position:relative;



		width:30px;



		height:77px;



		background:url(../images/previous.png) no-repeat 0 0;	



		}	



	#nextBtn a, #slider1next a{ 



		background:url(../images/next.png) no-repeat 0 0;	



		}	



		



	/* numeric controls */	







	ol#controls{



		margin:1em 0;



		padding:0;



		height:21px;	



		}



	ol#controls li{



		margin:0 10px 0 0; 



		padding:0;



		float:left;



		list-style:none;



		height:28px;



		line-height:28px;



		}



	ol#controls li a{



		float:left;



		width:11px;



		height:11px;		



		border:0px solid #ccc;



		background:url(../images/bullet-black.png) no-repeat;		



		text-decoration:none;



		}



	ol#controls li.current a{



		background:url(../images/bullet-blue.png) no-repeat;			



		}



	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}



	



/* // Easy Slider */