/* Copyright 2006, Thierry Koblentz - TJKDesign.com - All rights reserved.*/

/* zeroing padding/margin for all elements */
#DropDownMenu,
#DropDownMenu * { 
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

/* "Master" UL (the whole Menu) */
#DropDownMenu {
	position:relative;
/*	background:#000 no-repeat 100% 50%; */
/*	background-color: #FFF;*/
/*	width:33.2em;*/
/*	max-width:100%; */
	float:left;
/*	margin-bottom:3.5em;*/
	border-bottom:1px solid #005480;
}

/* sub-menu ULs */
#DropDownMenu li ul {
/*	width:11em !important; leaves room for padding */
	cursor:default;
	position:absolute;
	height:auto;
	display:none;
	left:-10px;
	padding:1px 10px 10px 10px;
	background:url(http://www.ekkko.com/e1/view/res_pics/transparent1x1.gif); /*trick to keep'em open*/
}

/* All LIs */
#DropDownMenu li {
	position:relative;
	width:8.30em;
/*	max-width:16.5%;*/
	cursor:default;
	float:left;
	list-style-type:none;
/*	font-weight:bold;*/
}

/* sub-menu LIs */
#DropDownMenu li ul li {
	width:10em/*FF*/;
	padding:0;
	border:none;
	max-width:120%;
/*	border:1px solid #333;*/
	border-top:none;
}

/* All anchors */
#DropDownMenu li a {
	cursor:default;
	color:#FFF;
/*	border-left:1px solid #333;*/
	text-decoration:none;
	display:block;
	float:left;
	padding:0 .4em;
/*  uncomment the declaration below if you want to go "full width" */
	width:7.47em; 
	height:2em;
	line-height:2em;
}

/* sub-menu Anchors */
#DropDownMenu li ul li a {
	width:9em/*FF*/;
	position:relative !important; /* ie Mac */
	cursor:pointer !important;
	white-space:nowrap;
	line-height:1.7em;
	height:1.7em;
	font-weight:normal;
/*	border:1px solid #fff;*/
	color:#FFF;
	background-position:0 50% !important;
/*	background-color: #5ea1bf; */
	
	/*filter:alpha(opacity=95);-moz-opacity:.95;opacity:.95;*/
}

/* :hover and stuff */
#DropDownMenu li a:hover,
#DropDownMenu li a:focus,
#DropDownMenu li a:active {
	color:#8DC73D;
}

/* move the declarations from the rule below the one above if you want a background swap on *all* anchors, including the top level ones */
#DropDownMenu ul a:hover,
#DropDownMenu ul a:focus,
#DropDownMenu ul a:active {
	color:#8DC73D !important;
	background-color: #005480;
/*	background-image: url(http://www.ekkko.com/e1/view/res_pics/transparent1x1.gif);*/
}

/* display and z-index for the sub-menus */
#DropDownMenu li:hover ul,
#DropDownMenu li.msieFix ul {
	display:block;
	z-index:10;
	top:2em !important;
}

#DropDownMenu li#MenuTV {
	z-index:4;
}

#DropDownMenu li#MenuEvent {
	z-index:3;
}

#DropDownMenu li#MenuResources {
	z-index:2;
}

#DropDownMenu li#MenuContact {
	z-index:1;
}


/* Current location - class on Body must match LI's id */ 
/* this is the current page - based on body ID */
.MenuTV #DropDownMenu li#MenuTV a,
.MenuEvent #DropDownMenu li#MenuEvent a,
.MenuResources #DropDownMenu li#MenuResources a,
.MenuContact #DropDownMenu li#MenuContact a
 {
	/*color:#8DC73D;*/
}

/* Keeping current menu accessible to JAWS */
.MenuTV #DropDownMenu li#MenuTV ul,
.MenuEvent #DropDownMenu li#MenuEvent ul,
.MenuResources #DropDownMenu li#MenuResources ul,
.MenuContact #DropDownMenu li#MenuContact ul
{
	display:block;
	top:-1000px;
}

/* background colors */
#MenuTV,#MenuTV li a,
#MenuEvent,#MenuEvent li a,
#MenuResources,#MenuResources li a,
#MenuContact,#MenuContact li a {
	background-color:#005480;
}


/* "trigger" and "msieFix" classes */
#DropDownMenu li.msieFix a {}

