/**
* Project: Responsible Business Web Site
* Date: 17/11/08
* Author: Eric Brillet/Nhazean M (c/o Ekkko Systems)
* Version: 1.0
*/

/*
* Update: 01/10/12
* Author: Nhazean M
* Version: 2.0
*/

html { 
	height: 100%; 
	margin-bottom: 1px; 
	list-style: none;
}

Body {
	margin: 10 0 0 0;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 180%;
	font-size : 11px;
	color: #999999;
	background-color: #ECE9D8;
	list-style: none;
}

Body.BODY_Snippet {
	margin: 0 0 0 0;
	background-color: #FFFFFF;
}

TD {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 180%;
	font-size : 11px;
	color:#666666;
	background-color: #FFFFFF;
}

/* Main table border */

Table.Border {
	border: solid;
	border-bottom: 1px;
	border-left: 1px;
	border-right: 1px;
	border-top: 1px;
	border-color:#EEEEEE;
}

/*link styles*/

A{
	text-decoration: none;
	line-height: 100%;
}

A:link, A:visited {
	color:#005480;
	text-decoration: none;
}

A:hover, A:active {
	color: #005480;
	text-decoration: underline;
}

/* navigation bar styles */

A.navLink{
	line-height: 100%;
	padding-left: 4px;
	padding-right: 40px;
	font-size: 11px;
	text-decoration: none;
	border-width: 1px 1px 1px 1px;
}

A.navLink:link, A.navLink:visited {
	color:#ffffff;
	text-decoration: none;
}

A.navLink:hover, A.navLink:active {
/*	color: #8DC73D;
*/	color: #00aeef;
	text-decoration: none;
}

/* video thumbnails styles */

.bordered {
	padding: 2px 2px 2px 2px;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color:#FFFFFF;
}

A img.bordered{
	padding: 2px 2px 2px 2px;
	border-width: 1px 1px 1px 1px;
	border-style: solid;	
	border-color:#FFFFFF;
}

A:hover img.bordered{
	padding: 2px 2px 2px 2px;
	border-width: 1px 1px 1px 1px;
	border-style: solid;	
	border-color:#005480;
}

A:active img.bordered{
	padding: 2px 2px 2px 2px;
	border-width: 1px 1px 1px 1px;
	border-style: solid;	
/*	border-color:#8DC73D;
*/
	border-color:#00aeef;

}


.CurrentNavLink {
	line-height: 100%;
/*	color: #8DC73D;
*/	color: #00aeef;
	padding-left: 4px;
	padding-right: 40px;
	font-size: 11px;
}

img.ImageBorder {
	border-color:#999999;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
}

/*td decoration*/

.border_bottom {
	border-bottom-width: 2px;
	border-bottom-color: #E3DFDE;
	border-bottom-style:solid;
	padding-bottom: 5px;
}

.right-padding15{
	padding-right: 15px;
}

.right-padding10{
	padding-right: 10px;
}

.right-padding4{
	padding-right: 4px;
}

.left-padding15{
	padding-left: 15px;
}

td.HeaderRow {
	color: #FFFFFF;
	background-color: #CCCCCC;
	font-weight: bold;
}

td.agendaRows {
	padding-top: 5px;
}

/* text styles */
.Header {
/*	color: #8DC73D;
*/	
	color: #00aeef;
	font-size: 13px;
	font-weight: bold;
}

.Header_Blue {
	color: #005480;
	font-size: 13px;
}

.Text_Blue {
	color: #005480;
}

.Text_Blue2 {
	color: #005480;
	display: none;
}

.subResult
        {
            display: none;
        }

.SubHeader {
	color: #005480;
	font-size: 13px;
	font-weight:250;

}

TD.TD_RegBox {
	background-color: #EFEFEF;
}

.SPAN_Reg_Note {
	font-size: 10px;
}

SPAN.ErrorText {
	color: Red;
	font-size : 11px;
	font-weight : bold;
}

.SPAN_Title {
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
}


.TD_Footer {
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	COLOR: #FFFFFF;
	background-color: #26602F;
	height: 20px;
	
}

.listInside {
	list-style-position:inside;
}

.listTypeNone {
	list-style-type: none;
}

UL {
	/*list-style-type:disc;   28 aug*/ 
}


TD.green_bg {
	background-color: #FFFFFF;
/*	background-color: #8DC73D;
	background-image: url(../res_pics/bg_green.jpg);
*/}

TD.blue_bg {
	background-color: #FFFFFF;
/*	background-color: #005480;*/
/*	background-image: url(../res_pics/bg_blue.jpg);8/*/
}


/** home page links **/
ul#boxlinks { 
	text-align: right; /* set to left, right or center */
	list-style-type: none;
	padding: 10px 10px 10px 10px; /* THIRD number must change with respect to padding-top (X) below */
}

ul#boxlinks li { /* do not change */
	display: inline;
}

ul#boxlinks li a { /* settings for all tab links */
	padding: 10px 25px 50px 5px ; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
	background-color: #01adef;  /*set unselected tab background color as desired*/
	color: #FFFFFF;  /* set unselected tab link color as desired */
	margin-right: 6px; /* set additional spacing between tabs as desired */
	text-decoration: none;
	
	filter:alpha(opacity=65);
	-moz-opacity:.65;
	opacity:.65;
	width: 100px;
	height: 100px;

	font-weight: bold;
	text-align: left; /* set to left, right or center */
	
	font-size: 15px;
	
	text-transform: uppercase;
}

ul#boxlinks li a:hover { /* settings for hover effect */
	background-color: #84b8cc; /* set desired hover color */
	filter:alpha(opacity=90);
	-moz-opacity:.90;
	opacity:.90;
}

 
div.transOFF {width: 100%; background-color: silver;border:1px solid black; }
div.transON {width: 100%; background-color: silver;opacity:.50;filter: alpha(opacity=50); -moz-opacity: 0.5;border:1px solid black; }
div.trans25 {width: 100%; background-color: silver;opacity:.25;filter: alpha(opacity=25); -moz-opacity: 0.25;border:1px solid black; }
div.trans75 {width: 100%; background-color: silver;opacity:.75;filter: alpha(opacity=75); -moz-opacity: 0.75;border:1px solid black; }


TD.nobg {
	background:none;
}

FIELDSET {
	border: #CCCCCC 1px solid;
	padding: 5px;
}


/*RBF NOV 2012 Singapore*/

.RBF2012_Text {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	line-height: normal;
	font-size: 13px;
	color: #707070;
}

.RBF2012_Header {
	font-weight: bold;
	font-size: 15px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.RBF2012_SubHeader {
	font-size: 13px;
	line-height: normal;
	color: #01adef;
}

.RBF2012_BottomBorder {
	border-bottom: #000 solid 2px;
	
}

.RBF2012_Text a {
	color: #01adef;
}

.RBF2012_TD_BannerHeader {
	border-top: #000 solid 2px;
	border-bottom: #000 solid 1px;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;	
}