/* begin css tabs */



ul#tabnav { /* general settings */

text-align: left; /* set to left, right or center */

margin: 1em 0 1em 0; /* set margins as desired */

/*border-bottom: 1px solid #CCC;  set border COLOR as desired */

list-style-type: none;

padding: 3px 0px 3px 0px; /* THIRD number must change with respect to padding-top (X) below */

}



ul#tabnav li { /* do not change */

display: inline;

}



body#tab1 li.tab1, body#tab2 li.tab2, body#tab3 li.tab3, body#tab4 li.tab4, body#tab5 li.tab5, body#tab6 li.tab6, ul#tabnav li.currentpage { /* settings for selected tab */

border-bottom: 1px solid #fff; /* set border color to page background color */

background-color: #fff; /* set background color to match above border color */

}



body#tab1 li.tab1 a, body#tab2 li.tab2 a, body#tab3 li.tab3 a, body#tab4 li.tab4 a, ul#tabnav li.currentpage a { /* settings for selected tab link */

background-color: #fff; /* set selected tab background color as desired */

color: #666; /* set selected tab link color as desired */

position: relative;

top: 1px;

padding-top: 4px; /* must change with respect to padding (X) above and below */

}



ul#tabnav li a { /* settings for all tab links */

padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */

border: 1px solid #CCC; /* set border COLOR as desired; usually matches border color specified in #tabnav */

/*background-color: #DDD;  set unselected tab background color as desired */

color: #666; /* set unselected tab link color as desired */

margin-right: 0px; /* set additional spacing between tabs as desired */

text-decoration: none;

border-bottom: none;

}



ul#tabnav a:hover { /* settings for hover effect */

background: #DDD; /* set desired hover color */

}



/* end css tabs */



