body#tinymce.wp-editor { 
	font-family: Arial, Helvetica, sans-serif;    
}
body#tinymce.wp-editor .text-paragraph{
	font-size:14pt;	
}
body#tinymce.wp-editor .left_column{
	display:block;
	float:left;
	width:229px;	
	margin-right:23px;
}
body#tinymce.wp-editor .right_column{
	display:block;
	float:left;
	width:480px;	
}
body#tinymce.wp-editor .g-text{
	color:#aeaeae;	
}
body#tinymce.wp-editor .b-text{
	color:#00aef0;	
}
body#tinymce.wp-editor .line-separator{
	width:100%;
	background:url(http://www.responsiblebusiness.com/new/wp-content/themes/responsiblebusiness/images/line-separator.png) repeat-x;
	height:1px;
	display:block;
	margin:30px 0px 12px 0px;
}

