.container {
    width: 90%;
    max-width: 900px;
    margin: 10px auto;
}
.toggleMenu {
    display:  none;
    background: #666;
    padding: 10px 15px;
    color: #fff;
}
.nav {
    list-style: none;
     *zoom: 1;margin:0;padding:0;border-bottom: 2px #000 solid;
     /*background:#175e4c;*/
}
.nav .hover .upper{color:#00bff3 !important;}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 9em;
}
.nav a {
    padding: 10px 15px;
    color:#000;font-size: 23px;font-family:Brandon_bld, Arial, Helvetica, sans-serif;
}
.nav li {
    position: relative;
}
.nav > li {
    /*float: left;*/
    border-top: 2px solid #104336;
}
.nav > li > .parent {
    background-image: url("images/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
}
.nav > li > a {
    display: block;
}
.nav li  ul {
    position: absolute;
    left: -9999px;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}
.nav li li a {
    display: block;
    background: #1d7a62;
    position: relative;
    z-index:100;
    border-top: 1px solid #175e4c;
}
.nav li li li a {
    background:#249578;
    z-index:200;
    border-top: 1px solid #1d7a62;
}
.current{color:#00bff3 !important;}

@media only screen and (max-width: 1024px){
.nav a{font-size: 19px;}	
}
@media only screen and (max-width: 995px){
.nav a{font-size: 16px;}	
}
@media only screen and (max-width: 850px){
.nav a{font-size: 14px;}	
}
@media screen and (max-width: 768px) {
    .active {
        display: block;
    }
    .nav > li {
        float: none;
    }
    .nav > li > .parent {
        background-position: 95% 50%;
    }
    .nav li li .parent {
        background-image: url("images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }
   .nav{position: absolute;width: 300px;z-index: 999999999;background: #fff;top: 35px;}
   .toggleMenu{background: #666;padding: 10px 15px;color: #fff;position: absolute;top: 0px;}

}