.big-link{display:block}
.agenda .reveal-modal-bg{position:fixed;height:100%;width:100%;z-index:100;display:none;top:0;left:0;background:none !important;}
.agenda .reveal-modal{visibility:hidden;top:176px!important;left:0;margin-left:0;margin-top:0;width:199%;min-height:419px;background:#fff;position:absolute;z-index:101;-moz-box-shadow:0 0 10px rgba(0,0,0,.4);-webkit-box-shadow:0 0 10px rgba(0,0,0,.4);-box-shadow:0 0 10px rgba(0,0,0,.4);padding:0;-moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;border:2px #000 solid;font-size: 11px;color: #7d7d7d;}
.partners_d .reveal-modal-bg{position:fixed;height:100%;width:100%;z-index:100;display:none;top:0;left:0;background:none !important;}
.partners_d .reveal-modal{visibility:hidden;top:0 !important;left:0;margin-left:0;margin-top:0;width:98%;min-height:430px;background:#fff;position:absolute;z-index:101;-moz-box-shadow:0 0 10px rgba(0,0,0,.4);-webkit-box-shadow:0 0 10px rgba(0,0,0,.4);-box-shadow:0 0 10px rgba(0,0,0,.4);padding:0;-moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;border:2px #000 solid;font-size: 11px;color: #7d7d7d;}
.reveal-modal.small{width:200px;margin-left:-140px}
.reveal-modal.medium{width:400px;margin-left:-240px}
.reveal-modal.large{width:600px;margin-left:-340px}
.reveal-modal.xlarge{width:800px;margin-left:-440px}
.reveal-modal .close-reveal-modal{font-size:22px;line-height:.5;position:absolute;top:8px;right:11px;color:#aaa;text-shadow:0 -1px 1px rbga(0,0,0,.6);font-weight:700;cursor:pointer}
.sec_rev .reveal-modal{width:300px}


@media only screen and (max-width: 767px){
.agenda .reveal-modal{width: 89%;}

}