@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);
@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensansreg-webfont.eot');
    src: url('fonts/opensansreg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensansreg-webfont.woff') format('woff'),
         url('fonts/opensansreg-webfont.ttf') format('truetype'),
         url('fonts/opensansreg-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/opensansbold-webfont.eot');
    src: url('fonts/opensansbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensansbold-webfont.woff') format('woff'),
         url('fonts/opensansbold-webfont.ttf') format('truetype'),
         url('fonts/opensansbold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'GothamBold';
    src: url('fonts/GothamBold.eot');
    src: url('fonts/GothamBold.eot?#iefix') format('embedded-opentype'),
         url('fonts/GothamBold.woff') format('woff'),
         url('fonts/GothamBold.ttf') format('truetype'),
         url('fonts/GothamBold.svg#GothamBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'GothamBook';
    src: url('fonts/GothamBook.eot');
    src: url('fonts/GothamBook.eot?#iefix') format('embedded-opentype'),
         url('fonts/GothamBook.woff') format('woff'),
         url('fonts/GothamBook.ttf') format('truetype'),
         url('fonts/GothamBook.svg#GothamBook') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Bebas';
    src: url('fonts/Bebas.eot');
    src: url('fonts/Bebas.eot?#iefix') format('embedded-opentype'),
         url('fonts/Bebas.woff') format('woff'),
         url('fonts/Bebas.ttf') format('truetype'),
         url('fonts/Bebas.svg#Bebas') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'GothamMedium';
    src: url('fonts/GothamMedium.eot');
    src: url('fonts/GothamMedium.eot?#iefix') format('embedded-opentype'),
         url('fonts/GothamMedium.woff') format('woff'),
         url('fonts/GothamMedium.ttf') format('truetype'),
         url('fonts/GothamMedium.svg#GothamMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {font-family: BrandonReg;src: url('fonts/Brandon_reg.otf');}
@font-face {font-family: Brandon_bld;src: url('fonts/Brandon_bld.otf');}
@font-face {font-family: "CALIBRI";font-style: normal;font-weight: normal;src: url("fonts/CALIBRI.eot?#iefix") format("embedded-opentype"), url("fonts/CALIBRI.woff") format("woff"), url("fonts/CALIBRI.ttf") format("truetype");}
@font-face {font-family: "calibri_italic";font-style: italic;font-weight: normal;src: url("fonts/calibri_italic.eot?#iefix") format("embedded-opentype"), url("fonts/calibri_italic.woff") format("woff"), url("fonts/calibri_italic.ttf") format("truetype");}
@font-face {font-family: "Brandon_re";font-style: normal;font-weight: normal;src: url("fonts/brandon_reg.eot?#iefix") format("embedded-opentype"), url("fonts/brandon_reg.woff") format("woff"), url("fonts/brandon_reg.ttf") format("truetype"), url("fonts/brandon_reg.svg#ArimoRegular") format("svg");}
@font-face {font-family: "Brandon_med";font-style: normal;font-weight: normal;src: url("fonts/brandon_med.eot?#iefix") format("embedded-opentype"), url("fonts/brandon_med.woff") format("woff"), url("fonts/brandon_med.ttf") format("truetype"), url("fonts/brandon_med.svg#ArimoRegular") format("svg");}
html,body{width:100%;height:100%;margin:0;padding:0}
body{font-family:open_sansregular, Arial, Helvetica, sans-serif;font-size:12px}
.t11{ font-size:14px !important;color: #696969;}
.left > p{  font-size:14px !important;color: #696969;}


ul.innrcnt {
  border: medium none !important;
  margin: 0 0 17px !important;

}

ul.innrcnt li {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
  border: medium none !important;
  list-style: disc inside none !important;
  padding: 9px 0 0 !important;
  width: 100% !important;
  color: #000 !important;
  margin-left: 18px;
}


.upper{text-transform:uppercase}
a{text-decoration:none}
#wrapper{max-width:1170px;min-height:500px;margin:0 auto}
.line-separator{width:100%;height:1px}
.line-separator.bottom{position:absolute;bottom:30px;width:642px}
h3.section-title{font-family:Brandon_bld;color:#00A1D4;font-size:18px;font-weight:400;line-height:60px;margin:0;padding:0}
#header-left{float:left;margin:39px 0 0}
#header-left a{display:block;}
.con_lef{width:14.7%;float:left;margin-top:15px}
.con_rig{width:80.3%;float:right;padding-left:29px;border-left:1px #dbdbdb solid;margin-top:15px}
#header-right{float:right;width:495px;min-height:123px}
#top{margin-top:14px}
#top-menu{float:right;list-style-type:none;text-align:center;margin:5px 2px 0 auto;padding:0}
.top_lL{display:block;width:137px;float:right;margin-top:40px}
#top-menu li a,#top-menu li a:visited,#searchform label{font-family:Brandon_med;font-size:12px;color:#231f20}
#primary-menu{list-style-type:none;border-top:2px #000 solid;margin:0 auto;padding:0 0 19px}
#primary-menu li{border-bottom:2px #000 solid}
#primary-menu li a,#primary-menu li a:visited{display:block;font-family:Brandon_med;font-size:28px;color:#231f20;padding:5px 0}
.top_smnu{background:#e6e7e8;margin-top:10px;width:78.9%;float:right;height:19px;padding:8px}
.top_smnu a{color:#636363;font-size:14px;text-transform:uppercase;margin:0 10px;}
#primary-menu li a:hover,#social-media li a:hover,#useful-links li a:hover{text-decoration:none;color:#00BFF3!important}
#primary-menu .menu-items-separator{display:none;margin-top:6px}
#primary-menu .current{color:#00BFF3!important}
#searchform input[type=text]{width:192px;height:18px;border:1px solid #000}
#primary-menu-wrap{margin-left:0;position:relative}
#submenu{width:480px;height:32px;background:#00AEF0;position:absolute;top:51px;left:0;z-index:1000}
.menu-items-separator{background:url(images/menu-items-separator.png) no-repeat;width:2px;height:9px;margin:4px 17px}
.submenu-items-separator{background:url(images/submenu-items-separator.png) no-repeat;width:2px;height:8px;margin:5px 17px}
.submenu{text-align:center}
.submenu ul{display:inline-table}
#submenu ul{list-style-type:none;margin-top:8px;margin-left:-20px}
#submenu ul li a,#submenu ul li a:visited{font:8pt;color:#FFF;font-family:Brandon_bld}
#search-form label{padding-right:18px}
.clear{clear:both}
#footer .col4{width:225px}
#footer{width:100%;float:right;position:relative;}
.cpyrgt{position: absolute;top: 240px;left: 0px;padding-bottom: 10px;}
.cpyrgt a{color:#00bff3;}
.player_television{width:56px;height:56px;background:url(images/player.png) no-repeat;position:absolute !important;top: 50%;left: 50%;z-index:500;margin-left: -28px;margin-top: -28px;}
.jntwr{border-top:2px #000 solid;/*border-bottom:2px #000 solid;*/line-height:20px;padding:31px 0;font-size: 12px;}
.twt{border-top:2px #000 solid;line-height:20px;padding:31px 0; overflow: hidden;height: 519px;margin-top: 10px;}


.twt h3{color:#00bff3;font-size:18px;text-transform:uppercase;padding-bottom:18px;font-family:Brandon_bld, Arial, Helvetica, sans-serif;font-weight: normal;}
.sgnp{background:#00bff3;color:#fff !important;text-transform:uppercase;display:inline-block;margin-top:14px;padding:2px 10px}
.jntwr h3{color:#00bff3;font-size:18px;text-transform:uppercase;padding-bottom:18px;font-family:Brandon_bld, Arial, Helvetica, sans-serif;font-weight: normal;}
.appfrm {border-top: 2px #000 solid;}
.appfrm h3{color:#00bff3;font-size:18px;text-transform:uppercase;padding-bottom:18px;margin-top:20px;font-weight: normal;font-family:Brandon_bld, Arial, Helvetica, sans-serif;}
.partners_d {border-top:2px #000 solid;margin:33px 0 ;}
.partners_d h3{color:#00bff3;font-size:18px;text-transform:uppercase;padding-bottom:18px;margin-top:20px;font-family:Brandon_bld, Arial, Helvetica, sans-serif;font-weight: normal;}
.partners_d ul{margin: 0;list-style: none;padding: 0;}
/*.partners_d li{background:#e5e5e5;padding:10px;text-align:center;margin-bottom:3px;position:relative;}*/

.partners_d li{text-align:center;margin-bottom:3px;position:relative;border: 1px solid #E5E5E5;padding: 20px 0;}
.glsm{padding:0 0 46px;min-height: 93px;}
.glsm img{width:100%;height:auto;}
#footer .col1,.col2,.col3,.col4{float:left;margin:12px 0 10px}
.blog .t8{font-size:8pt; color:#00bff3;}
.blog .b_lf {height: 400px !important;overflow:hidden;width: 64.1% !important;border-right: 2px #fff solid;}
.blog .b_rg {width: 35% !important;}

.rp_image img{width:100%;height:auto;}
.blog .b_lf img {width:auto !important;height: auto;}
.blog #header-wrap-img{height: 400px !important;background: #e2e2e2;}
.shre_this{font-size:16px;color:#4d4d4d;font-weight: bold;display:block;font-family:open_sansregular, Arial, Helvetica, sans-serif;margin-bottom: 19px;}
.contact_banner {margin-bottom:53px;}
.contact_banner img{width:100%;height:auto;}
.t8{font-size:8pt}
.t9{font-size:9pt}
.t10{font-size:16px;line-height: 23px;}
.t10 h1{font-size:27px}
.t11{font-size:11pt}
.t14{font-size:14pt}
.t18 {
  font-family: 'open_sansbold',Arial,Helvetica,sans-serif;
  font-size: 19px;
  letter-spacing: -0.8px;
  line-height: 21px;
}
.t24{font-size:24pt}
.t_12{font-size:13px}
.t_14_{font-size:14.67px}
.t_26{font-size:26px}
.t_16{font-size:16px;display:none}
.t_18{font-size:18px}
.t_24{font-size:20px}
.t_white{color:#FFF}
.t_gray{color:#A7A9AC}
.f_Brandon_bld{font-family:Brandon_bld}
.f_Brandon_re{font-family:Brandon_re}
.f_Brandon_med{font-family:Brandon_med}
.f_calibri_italic{font-family:calibri_italic}
.col2 ul,.col3 ul,.col4 ul{list-style-type:none;margin:8px auto 0;padding:0}
.col2 ul li,.col3 ul li,.col4 ul li{margin-bottom:12px}
#content-left{float:left;width:100%}
#content-right{float:right;width:251px}
.television .videos{margin-top:55px}
.television .t14 {margin: 33px 0;color:#7d7d7d;font-family:open_sansregular, Arial, Helvetica, sans-serif;}
/*.video-wrap{width:100%;height:276px;background:#fff;position:relative;border: 1px #ccc solid;}*/
.video-wrap{width:100%;height:290px;background:#fff;position:relative;border: 1px #ccc solid;overflow:hidden !important;}
.home .video-wrap{width:100%;height:304px !important;background:#fff;position:relative;border: 1px #ccc solid;}
#video-list .video-wrap:hover{background:#f2f2f2;}
.video-wrap .player{width:56px;height:56px;background:url(images/player.png) no-repeat;position:absolute;top: 50px;left: 50%;z-index:500;margin-left: -28px;}
/*.video-wrap:hover .player{background:url(images/player.png) no-repeat !important;}*/
.video-thumb-text{width:81%;height:auto;overflow:hidden;padding:8px 13px;font-size: 13px;color:#7d7d7d;margin: 0 auto;}
.video_date{color: #00bff3;margin-top: 10px;margin-bottom: 5px;}
.video_titl{font-size:14px;color:#000;font-weight:bold;}
.video-thumb-text h4{font-size:15px;font-weight:bold;color:#000;}
#header-wrap{position:relative}
#header-wrap .read-more{font-size:9pt;color:#FFF;position:absolute;right:235px;top:274px}
#header-wrap .read_more{font-size:9pt;/*position:absolute;*/bottom:15px}
#header-wrap .read_more a,#header-wrap .read_more a:visited{color:#FFF!important}
#forum .read-more{right:229px!important;top:246px!important}
.homepage.read-more{right:232px!important;top:247px!important}
#header-wrap #blog-text .read-more{right:187px;top:255px;width:100px}
#header-wrap .read-more a,#header-wrap .read-more a:visited{color:#FFF;text-decoration:none}
#header-wrap .t11{margin-top:15px}
#header-wrap-left{width:647px;float:left}
#header-wrap-right{width:335px;float:left}
#header-wrap .slider-text{width:305px;height:262px;overflow:hidden;margin-left:673px;margin-top:27px;position:relative}
#header-wrap .img-text-wrap{margin:15px}
#header-wrap .event-cat{background:url(images/event-line-header.png) no-repeat;width:208px;overflow:hidden;line-height:20px!important;font-size:20px;padding:0 0 0 15px}
#event-text-wrap{position:relative;height:217px;margin:31px}
.event-details{position:absolute;bottom:0}
#header-wrap #event-text .t10{padding-top:5px}
#header-wrap #blog-text{width:290px;margin-left:673px;margin-top:25px;position:relative;height:274px;overflow:hidden}
#header-wrap-img{background:#01AEF0;height:284px;width:100%;margin-top:12px}
#header-wrap .slide-small{width:313px;height:116px;cursor:pointer;position:relative;margin-left:12px}
#header-wrap .slide-small .t_10{width:134px;height:97px;color:#FFF;padding-left:10px;padding-top:10px;margin-left:166px!important}
#header-wrap .slide-small .read_more{position:absolute;bottom:7px;display:block}
#col3,#col2{margin-right:1px}
#header-wrap #slider-thumb{margin-top:-5px}
#close-modal-icon{text-align:right}
#video-wrap{font-family:CALIBRI;color:#231F20}
#video-wrap-left{float:left;width:83%;position:relative}
#show-video{min-height:300px}
#video-wrap-content{width:100%;margin:0 auto}
#video-category{z-index:1000;position:inherit;right:17px;top:14px;width:100%;}
#video-category ul{font-family:Arial, Verdana;font-size:12px;list-style:circle;width:100%;background:url(images/drop-down-bg.png) repeat;margin:0;padding:0;display:block !important}
#video-category ul li{display:block;position:relative;float: left;margin-left:17px;width:auto;line-height: 17px;}
#video-category ul li:nth-child(1) {width:8%;}
#video-category ul li:nth-child(2) {width:16%;}
#video-category ul li:nth-child(3) {width:18%;}
#video-category ul li:nth-child(4) {width:20%;}
#video-category ul li:nth-child(5) {width:21%;}
#video-category ul li:nth-child(6), #video-category ul li:nth-child(7), #video-category ul li:nth-child(8),#video-category ul li:nth-child(9) {display:none}
#video-category ul li li{float: left !important;width:auto;}
#video-category ul li a{display:block;text-decoration:none;color:#000;border-top:1px solid #fff;margin-left:1px;white-space:nowrap;padding:5px 15px 5px 0;font-size: 11px;text-transform:uppercase;color:#515050;}
#video-category .no-style{background:none!important}
#video-category li:hover ul{display:block;position:absolute}
#video-category li:hover li{float:none;font-size:11px}
#video-category a:hover{font-weight:700}
#video-category img{margin:0 5px 2px 0}
#last-participant{float:right;background-color:#eff0f0;width:226px}
#last-participant ul{padding:5px 0 0 27px}
#last-participant li a{color:#231f20}
#last-participant li{margin-bottom:5px}
.content{width:226px;height:715px;overflow:auto}
#video-category-wrap #drop-down{position:absolute;top:-14px;right:-22px;display:none}
#video-category #menu{z-index:1000}
#video-category .video-category-name{/*position:relative;right:-55px;top:-7px;*/cursor:pointer;float: left;text-transform:uppercase;font-size:12px;color:#46a4d5;line-height: 29px;}
.pagination{list-style-type:none;margin:0;padding:0}
.pagination li{float:left;margin-right:5px}
.line-bottom{margin-top:2px;margin-bottom:32px}
#forum .line-bottom{margin-bottom:10px!important}
#event-list{width:100%;min-height:100%;position:relative;color:#231F20;overflow:hidden}
.agenda{border-top:2px #000 solid;margin-bottom:67px;}
.agenda h3{color:#00bff3;font-size:18px;text-transform:uppercase;margin: 14px 0;font-family:Brandon_bld, Arial, Helvetica, sans-serif;font-weight: normal;}
.agenda h4{font-family:open_sansbold;font-size:16px;color:#696969;margin-top: 26px; }
.agenda dl{font-size:13px;color:#696969;}
.agenda dl h5{font-size:13px;color:#00bff3;font-weight:bold;margin-bottom: 26px;}
.agenda dl dt {float: left;margin-right: 10px;padding: 0;width: 33%;}
.agenda dl dd {margin: 2px 0;padding: 0;float:left;width:64%;}
/*.speaker{border-top:2px #000 solid;}
.speaker h3{color:#00bff3;font-size:18px;text-transform:uppercase;margin: 14px 0;}
.speaker ul{float: left;clear:both;border-left:1px #ededed solid;border-top:1px #ededed solid;padding: 0;margin-left: -1px;list-style: none;}
.speaker ul li{float: left;border-right:1px #ededed solid;border-bottom:1px #ededed solid;background:#f5f5f5;width:33.1%;position:relative;}
.agenda h3{color:#00bff3;font-size:18px;text-transform:uppercase;margin: 14px 0;}*/
.agenda ul{float: left;clear:both;border-left:1px #ededed solid;border-top:1px #ededed solid;padding: 0;margin-left: -1px;list-style: none;width:100%;}
.agenda ul li{float: left;border-right:1px #ededed solid;border-bottom:1px #ededed solid;background:#f5f5f5;width:33.1%;position:relative;}

.agenda{border-top:2px #000 solid;color:#696969;font-size:14px;margin-bottom:64px;}
.agenda h2{font-size:18px;font-weight:bold;}
.po_hd{padding:14px;}

.po_hd h4{color:#000;font-size:11px;display:block;font-weight:bold;}
.pop_des{padding:14px;border-top:2px #000 solid;}
.spk_img{overflow:hidden;height:175px;}
.spk_desc{padding:17px 16px;font-size:11px;color:#7d7d7d;height: 60px;overflow: hidden;}
.spk_desc .pop{color:#000;font-size:11px;text-transform:uppercase;display: block;font-weight: bold;}
/*.for_3{border-top:2px #000 solid;color:#696969;font-size:14px;margin-bottom:64px;}
.for_3 h2{font-size:18px;font-weight:bold;}
.for_3 h3{color:#00bff3;font-size:18px;text-transform:uppercase;margin: 14px 0;}*/

#event-sep{left:617px;position:absolute;top:1px}
#event-list-left{/*width:618px*/}
#event-list-left ul {padding:0;margin:0;}
#event-list-left ul li{list-style:none;width:49.4%;float:left;border:1px #d4d6d7 solid;min-height:331px;margin-right:1px;}
.event-list ul li{min-height: 303px !important;}
.evnt_img{height:173px;width:100%;overflow:hidden;}
.evnt_img img{width:308px;}
#event-list-right{/*width:364px*/}
.event-list-right.section-title{padding-left:15px}
.event-wrap-left{background:url(images/event-line.png) no-repeat left bottom;width:153px;height:61px;float:left;margin:10px 0 0 8px;padding:0 0 0 8px}
.event-wrap-right{float:left;margin:10px 0 0 22px}
.past-event-wrap{margin:15px 0 0 19px}
.past-event-wrap .t_blue{margin-bottom:5px;display:block}
#forum .videos{margin:0!important}
#container{min-height:500px;border:1px solid balck}
.g-text{color:#aeaeae}
.con_rig .blog .bcol1, .blog .bcol2, .blog .bcol3, .blog .bcol4{ width: 31.3%;}
.con_rig  .blog-text .read-more{position:relative;top:0px;}
.con_rig .blog .blog-wrap{height:auto;padding-bottom:20px;}
.con_rig .b_cate_home{position:relative;bottom:0px;margin-top:10px;color:#7d7d7d;}
.con_rig .blog-text{margin:19px 0 0 10px;width:92%;}
.b-text{color:#00bff3;font-weight: bold;}
.text-paragraph{display:block;margin-bottom:20px;font-size:14pt;line-height:17pt!important}
.left_column{display:block;float:left;width:229px;margin-right:23px}
.right_column{display:block;float:left;width:479px}
.event-child #content{margin-top:36px}
#partners{float:right;width:226px}
#partners ul{list-style-type:none;margin:30px 20px;padding:0}
#partners ul li{margin-bottom:30px}
.event-child #content #content-left table td{vertical-align:top}
.event-child #content table td:first-child{width:100px}
.event-child.child .left_column{width:122px!important;margin-top:0!important}
.event-child.child .right_column{width:586px!important;margin-top:7px}
.event-child.child .right_column .agendaTable{margin-top:-9px!important}
.event-child.child .right_column .line-separator{display:block;margin:22px 0 9px}
p{margin:0;padding:0}

.event-child .right_column a,.event-child .right_column a:visited{color:#00AEF0}
#event-list .cell1{width:618px;float:left;min-height:100%}
#event-list .cell2{width:1px;float:left;background:url(images/line-separator-y.png) repeat-y;min-height:inherit;position:absolute;left:618px}
#event-list .cell3{width:363px;float:left;min-height:100%}
.blog .blog-wrap{width:100%;height:321px;border: 1px solid #CCCCCC;overflow:hidden;}
.blog .blog-wrap:hover{background:#f2f2f2;}
.blog-text{width:89%;/*height:120px;overflow:hidden;*/position:relative;margin:10px 0 0 11px}
.blog-text .t11{margin-top:5px}
.blog-text .t9{margin-top:7px;color:#7d7d7d;}
.blog-text .read-more{font-size:9pt;/*position:absolute;*/top:108px;left:0}
#blog-left{float:left;width:100%}
.sing_ban {width:100%;overflow:hidden;height:}
.sing_ban img{width: 100%;height:auto;}
#blog-right{padding-left:20px;float:right;width:314px}
#blog-left,#blog-right{margin-top:12px}
#blog-left .t_11{color:#888}
#blog-left .t24{margin-top:5px;line-height:29px}
#blog-right-wrap{background-color:#EFF0F0;width:314px;padding-bottom:10px}
#blog-right-wrap .section-title{margin-left:15px}
#blog-right-wrap ul{list-style-type:none;margin:15px 0 0 15px;padding:0}
#blog-right-wrap li{background:url(images/blog-bullet.png) no-repeat;width:250px;padding-left:27px;margin-bottom:30px}
#blog-right-wrap .pdate{color:#34B6E4}
#blog-right-wrap li a,#blog-right-wrap li a:visited{text-decoration:none;color:#231F20;font-size:9pt}
.mCSB_dragger{height:152px!important}
img.grayscale,.player,.slidegrayscale{filter:gray;-webkit-transition:all .6s ease;-webkit-backface-visibility:hidden;-webkit-filter:inherit!important}
img.grayscale:hover,.player:hover{filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");-webkit-filter:grayscale(0%)}
#searchform .search{background:none;border:0;color:#231F20;font-family:Brandon_med;font-size:12px}
a img{border:0}
.ccontent a,.ccontent a:hover{color:#00A1D4;text-decoration:none}
.ccontent a:hover{color:#00A1D4;text-decoration:underline}
.ccontent p{margin-bottom:20px!important;color:#000;font-size: 16px;line-height: 22px;}
.ccontent{line-height:18px}
#pagination{width:100%;height:50px}
#page-wrap-right{margin-top:-5px;float:right}
#at15s{position:absolute}
.agendaTable{border-collapse:collapse;width:100%;border-spacing:0;border-left:1px solid #fff;border-bottom:1px solid #fff;margin-bottom:10px}
.agendaTable tr,.agendaTable th,.agendaTable td{border-top:1px solid #fff;border-right:1px solid #fff;line-height:18px;padding:4px}
.more_videos{margin-top:18px}
.right_column > h1,h3,h3,h4,h5,h6{margin:0}
#home-videos{width:100%;min-height:100%;position:relative;color:#231F20;overflow:hidden}
#home-videos .cell2{width:auto;float:left;background:url(images/line-separator-y.png) repeat-y;min-height:inherit;position:absolute;left:491px}
.home-videos-wrap{background:url(images/event-line.png) no-repeat scroll left bottom transparent;height:42px;width:153px;line-height:14px;margin:17px 0 0 13px;padding:0 0 0 8px}
#videos-forum{margin-left:5px;}
#videos-forum,#videos-tv{margin-top:24px;margin-bottom:31px;width:100%;}
#controls-arrows{position:absolute;right:0;top:288px}
#home-videos .clear{padding-bottom: 0 !important;}
#videos-tv .vcol2{margin-left:0}
.video-icon{position:absolute;left:258px;top:73px}
.slide-small-wrap{height:114px;margin-left:159px;width:152px}
#main > #footer{display:none!important}
.reveal-modal-bg{position:fixed;height:100%;width:100%;background:rgba(0,0,0,.8);z-index:100;display:none;top:0;left:0}
.reveal-modal{visibility:hidden;top:30% !important;left:50%;margin-left:-300px;width:536px;background:#fff url(../images/modal-gloss.png) no-repeat -200px -80px;position:fixed;z-index:500;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:0 0 10px rgba(0,0,0,.4);-webkit-box-shadow:0 0 10px rgba(0,0,0,.4);-box-shadow:0 0 10px rgba(0,0,0,.4);padding:30px 0 10px}
.reveal-modal.small{width:200px;margin-left:-140px}
.reveal-modal.medium{width:400px;margin-left:-240px}
.reveal-modal.large{width:600px;margin-left:-340px}
.reveal-modal.xlarge{width:800px;margin-left:-440px}
.reveal-modal .close-reveal-modal{font-size:22px;line-height:.5;position:absolute;top:8px;right:11px;color:#aaa;text-shadow:0 -1px 1px rbga(0,0,0,.6);font-weight:700;cursor:pointer}
.popup-txt{/*border-bottom:2px dotted #333;border-top:2px dotted #333;*/text-align:center;width:93%;margin:10px;padding:15px}
.video_det{font-size:15px;overflow: auto;    text-align: left;    width: 78%;margin-top: 50px;width: 78%;}
.video_det h5{font-size: 21px;}
h4.join_us{color:#333;font-size:30px;line-height:34px;margin-bottom:27px}
.popup-txt table td input[type=text],.popup-txt table td input[type=email],.popup-txt table td select,.popup-txt table td textarea{background:none repeat scroll 0 0 #FFF;border:1px solid #CCC;color:#666;height:22px;margin-bottom:15px;width:206px;padding:4px}
.popup-txt table td select{height:30px;width:216px}
.popup-txt table td input[type=submit]{background-color:#01AEF0;border:medium none;border-radius:5px 5px 5px 5px;cursor:pointer;height:30px;width:100px}
.blue-menu #top_menu_sub .sub-menu .sub-menu{left:150px;top:-1px;text-transform:uppercase}
#top_menu_sub li ul{width:150px!important;text-transform:uppercase}
#top_menu_sub > li.li_active > a{background:url(images/arrow-down.png) no-repeat 98% 56%}
#top_menu_sub li.li_sub_active > a{background:url(images/arrow-right.png) no-repeat right center}
#top_menu_sub{min-width:480px}
.hlt{width:65.2%;float:left;border-top:2px #000 solid}
.hlt h2{font-size:18px;line-height: 25px;color:#00BFF3;font-family:Brandon_bld, Arial, Helvetica, sans-serif;font-weight: normal;text-transform:uppercase;}
.click_here_reg a{display:block;text-align:center;background:#00BFF3;color:#fff;font-size:23px;line-height:32px;padding:6px 0;font-family:Brandon_bld, Arial, Helvetica, sans-serif;}
.click_here_reg a:hover{color:#000;text-decoration:none;}
.partners_d li span{font-size:12px;display:block;text-align:center;margin-bottom: 11px;}
.tel_sec{width:100%;border-top:2px #000 solid}
.hlrs{width:32%;float:right;background:url(images/blck-line.png) no-repeat right top}
.sep_le{background:url(images/bot-sep.png) repeat-y 0 50px;padding-left:32px;margin-top:32px;/*padding-bottom: 30px;min-height: 1045px;*/}
#slider a,#slider a:hover,#slider a:visited,#slider2 a,#slider2 a:hover,#slider2 a:visited,#header-wrap .slide-small .read_more a,#header-wrap .slide-small .read_more a:visited{color:#000}
#top-menu li,#submenu ul li,.fleft,#page-wrap-left,#header-wrap-img > a{float:left}
#top-menu li a:hover,#submenu ul li a:hover,#header-wrap .read_more a:hover,#header-wrap .read-more a:hover,#header-wrap .slide-small .read_more a:hover,#last-participant li a:hover,.event-wrap-right a:hover,.past-event-wrap a:hover,.event-child .right_column a:hover,#blog-right-wrap li a:hover{text-decoration:underline}
.submenu ul li,#video-category:hover #drop-down{display:inline}
#search-form,#video-wrap-right,.fright,.blue-menu{/*float:right*/}
#footer .col1,#footer .col2,#footer .col3,#footer .col4{width:33.3%;}
/*#footer .col4{width:40%}*/
.t_14,.t_13{font-size:14px}
.t_blue,.event-wrap-right a,.event-wrap-right a:visited{color:#000}
.l_black,.past-event-wrap a,.past-event-wrap a:visited{color:#231F20}
.television .text-paragraph,.home .text-paragraph,#blog-left .t10{margin-top:20px;color:#00BFF3;}
.home{display: block;margin-bottom: 60px;font-size: 14pt;line-height: 17pt!important;font-family:open_sansregular, Arial, Helvetica, sans-serif;}
.videos .vcol1,.videos .vcol2,.videos .vcol3,.videos .vcol4,.blog .bcol1{margin-right: 1px;width:46%;float:left;margin-bottom: 2px;}
  .blog .bcol1,.blog .bcol2,.blog .bcol3,.blog .bcol4{margin-right: 12px;width: 31%;float: left;margin-bottom: 12px;}
  
/*.blog .videos .vcol1,.blog .videos .vcol2,.blog .videos .vcol3,.blog .videos .vcol4{margin-right: 1px;
    width:13% !important;float:left;margin-bottom: 2px;}*/
#content-left .videos .vcol1, #content-left .videos .vcol2, #content-left .videos .vcol3, #content-left .videos .vcol4, #content-left .blog .bcol1, #content-left .blog .bcol2, #content-left .blog .bcol3, #content-left .blog .bcol4{margin-right: 0.91%;margin-bottom: 0.91%;}


.b_rg .img-text, .b_rg #header-wrap #event-text{float:right;height:auto;width:100% !important;position:relative}
.video-thumb,.blog-thumb{width: 100%;max-height: 170px;overflow: hidden;}
.video-thumb img,.blog-thumb img{height:auto}
#header-wrap .img-text,#header-wrap #event-text{float:right;height:280px;width:332px;position:relative}
.imgnws{height:380px !important;}
.mrgtp{ margin-top:20px;}
#header-wrap .img-text-wrap .t_26,#header-wrap .slider-text .t_26{font-weight:600}
#header-wrap .img-text-wrap .t_16,#header-wrap .slider-text .t_16{padding-top:27px;font-weight:600}
.simplemodal-container,#video-category-wrap{position:relative}
#video-category li ul,.addthis_toolbox,#top_menu_sub li:hover ul ul,#top_menu_sub li:hover ul ul ul,#top_menu_sub li:hover ul ul ul ul{display:none}
#video-category ul li a:hover,#top_menu_sub li:hover ul,#top_menu_sub li li:hover ul,#top_menu_sub li li li:hover ul,#top_menu_sub li li li li:hover ul{display:block}
.show-video,.pagination .page,#page-wrap-right .paging{cursor:pointer}
.right_column p,#blog-left .t11.t_blue{margin-bottom:15px}
.event-child .left_column,.event-child .right_column,.blog #content{margin-top:30px}
#event-list .actions,#home-videos .actions{width:100%}
#event-list .row,#home-videos .row{width:100%;min-height:100%}
:first-child+html .agendaTable,* html .agendaTable{border-collapse:collapse}
#home-videos .cell1,#home-videos .cell3{width:49.5%;float:left;min-height:100%}
.inn_ftr{border-top:2px #000 solid;border-bottom:2px #000 solid;}
.inn_ftr strong{color:#00bff3;}
.tel_sec .vcol1, .tel_sec .vcol2, .tel_sec .vcol3, .tel_sec .vcol4, .tel_sec .bcol1, .tel_sec .bcol2, .tel_sec .bcol3, .tel_sec .bcol4{width: 32.4% !important;float:left;}
.b_lf{width:65.1%;float:left;position:relative;/*border-top:5px #00aeef solid;*/}
.b_lf img{width:100%;height:auto}
.b_lf{overflow:hidden;}
.b_rg .t_white{color:#00A1D4 !important;margin-bottom: 13px;}
.b_lf img{/*width:auto !important;*/}
.ban_play{ width:94px;height:94px;position:absolute;top:50%;left:50%;margin-top:-47px;margin-left:-47px;}
.b_rg{width:34.7%;float:right;overflow: hidden;/*height: 328px;border-top:5px #01425b solid;*/}
.b_rg img{width:100%;height:auto;}
.jwplayer{width:100% !important}
#top-menu a{width:35px;height:36px;display: block;}
.twtr{background:url(images/twitter-icon.png) no-repeat 0 0 #eaeaea;}
.twtr:hover{background:url(images/twitter-icon.png) no-repeat 0 0 #6dcff6 !important;}
.ytb{background:url(images/youtube-icon.png) no-repeat 0 0 #eaeaea;}
.ytb:hover{background:url(images/youtube-icon.png) no-repeat 0 0 #6dcff6 !important;}
.lnkd{background:url(images/linked-in-icon.png) no-repeat 0 0 #eaeaea;}
.lnkd:hover{background:url(images/linked-in-icon.png) no-repeat 0 0 #6dcff6 !important;}
.c_event{font-size:15px;font-family:open_sansregular, Arial, Helvetica, sans-serif;font-weight:bold;color:#000;display: block;margin-bottom: 14px;}
.c_event_loc{color:#00bff3;font-family:open_sansregular, Arial, Helvetica, sans-serif;font-size:14px;font-weight:normal;line-height:18px;}
.past_ev_year{font-family:open_sansregular, Arial, Helvetica, sans-serif;font-size:15px;color:#959595;}
.video_cat{padding:0;}
ul.video_cat li {
  float: left !important;
  list-style: none outside none !important;
  margin: 0 1px 0 0;
  width: auto;text-transform:uppercase;
}
ul.video_cat li a{font-size:11px !important;}
.active{color:#00A2DD !important;}



/* 15052014  starts*/
#top{margin-top: 85px;}
#top-menu{float:left;margin:15px 20px 0px auto;}
.top_lL{margin-top:0;}
#header-right{width:auto;}


#awqsf_submit { display:none !important;}

/*boxes home page*/
.video-wrap{height: 372px;}
.video-thumb-text{padding:12px 22px 22px 26px;width:84%;line-height: 15px;}
.t_12.video-thumb-text .video_titl{font-size:14px;line-height:18px;padding-top:0;font-family: 'Open Sans', sans-serif;font-weight:600;}
a.readmore_featured {color: #00AEEF;display: block;font-size: 13px;padding-top: 10px;}
.date_n{color:#00BFF3;font-size:12px;padding-bottom:10px;}

/*vcol2*/
 .videos .vcol2{width:49.51%;margin: 0 3px 6px 0;}
.blog-text .t11 strong{color:#000;}
.line-separator.nws_bdr{height:2px;background:#000;}
.col4.jntwr {margin-top: 37px;}
.jntwr h3{font-size:16px;padding-bottom:9px;}
.col4.jntwr{font-size: 13px;font-size:13px;color:#696969;line-height: 18px;padding-bottom:30px;}
.col4.jntwr p {padding-bottom: 20px;}
.sgnp{padding: 0px 11px;}
.home{margin-bottom:39px;}
h3.section-title{color: #00bff3;font-size:16px;}
.glsm{padding-bottom:35px;}
.appfrm h3{margin-top: 40px;padding-bottom: 13px;}
#footer .col2{margin-top: 7px;padding-left: 42px;}
.inn_ftr strong{font-size:16px;font-family:"Brandon_bld",Arial,Helvetica,sans-serif;font-weight: 400;}
#footer .col2 ul, #footer .col3 ul, #footer .col4 ul{margin-top:4px;padding-bottom: 32px;}
#footer .col2 ul li, #footer .col3 ul li, #footer .col4 ul li{margin-bottom:4px;}
#footer .col2 ul li a, #footer .col3 ul li a, #footer .col4 ul li a{color:#4b4b4b;font-size: 13px !important;}
.cpyrgt{top: 286px;color: #303030;font-size: 13px;}
.cpyrgt a{color:#00bff3;font-size:13px !important;}
#footer .col4 {width: 26%;}
#footer{margin-top: 42px;}
.blog #content{margin-top: 44px !important;}
.blog-text{margin: 19px 21px 0 25px;width: 85%;}
.no_vid_avlb {
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  width: 100%;
}
.glsm img{max-width:101%;}
/* 15052014 ends  */

@media only screen and (max-width: 1170px){
  #wrapper{width:98%;margin:0 auto;}
}

@media only screen and (max-width: 1149px){
  .blog .bcol1, .blog .bcol2, .blog .bcol3, .blog .bcol4 {width: 31.8%;}


  .con_rig .blog .bcol1, .blog .bcol2, .blog .bcol3, .blog .bcol4 {width: 31%;}
  .con_rig .t11{font-size:12px !important;}
}
@media only screen and (max-width: 1024px){
  #header-right{/*width: 39%;*/ width:auto;}
  #header-left{width: 37%;}
/*  .video-wrap{height: 277px;}*/
  .blog .t18 {font-size: 14pt;}
}

@media only screen and (max-width: 1024px){
  /*.video-wrap{height: 248px;}*/
}
@media only screen and (max-width: 995px){
  .blog .bcol1, .blog .bcol2, .blog .bcol3, .blog .bcol4 {width:30.8%;}
  .f-div-sml img {margin: -38px 0 0 -111px;}
  #event-list-left ul li {width: 49%;}
  .video-wrap{height: 302px;}
  /*.videos .vcol2{width: 49.2% !important;}*/
}
@media only screen and (max-width: 925px){
   .con_rig .blog .bcol1, .blog .bcol2, .blog .bcol3, .blog .bcol4 {width: 30.6% !important;}
}
@media only screen and (max-width: 768px){
  .con_lef { margin-top: -35px;width: 0.1%;}
  .con_rig {border-left: 0px solid #DBDBDB;padding-left: 0;width: 100%;}
  #event-list-left ul li{width: 49.1%;}
  .con_rig .blog .bcol1, .blog .bcol2, .blog .bcol3, .blog .bcol4 {width: 100% !important;}
}
@media only screen and (max-width: 785px){
 .video-thumb-text{width:74% !important;}
}
@media only screen and (max-width: 524px){
  .blog .bcol1, .blog .bcol2, .blog .bcol3, .blog .bcol4 {width: 30%;}
  #event-list-left ul li {width: 48.2%;min-height: 423px;}
}

@media only screen and (max-width: 885px){
  .top_smnu a {  font-size: 12px;  margin: 0 8px;}
}

@media only screen and (max-width: 713px){
  .top_smnu {  width: 83.9%;}
}
@media only screen and (max-width: 698px){
  .top_smnu a {  font-size: 15px;  margin: 0 8px;white-space:nowrap;}
}
@media only screen and (max-width: 704px){
  
  .top_smnu {height: 70px;}
}
@media only screen and (max-width: 756px){
  .top_smnu {width:82.9%;}
}
@media only screen and (max-width: 530px){
  .top_smnu {width:96.9%;}
  .top_smnu a {  font-size: 11px;  margin: 0 8px;}
  .con_lef {  margin-top: -27px;}
  #header-right{min-height:220px;width:400px;}
}

@media only screen and (max-width: 767px){
  .t11 {font-size: 12px !important;}
  .tel_sec .vcol1, .tel_sec .vcol2, .tel_sec .vcol3, .tel_sec .vcol4, .tel_sec .bcol1, .tel_sec .bcol2, .tel_sec .bcol3, .tel_sec .bcol4 {
        width: 45.4% !important;}
  .reveal-modal{margin-left: -40%;width: 80%;}
  h4.join_us{font-size: 15px;line-height: 23px;}
  #simplemodal-container{margin-left: -44%;width: 80% !important;height: 434px !important;}
  .popup-txt {padding: 29px 16px;width: 93%;margin:15px auto;}
  .video_det h5 {font-size: 13px;}
  .video_det {font-size: 13px;}
  .f-div-sml img {margin: -38px 0 0 -52px;}
  .popup-txt iframe{width:100%;}
  .popup-txt table td input[type="text"], .popup-txt table td input[type="email"], .popup-txt table td select, .popup-txt table td textarea{width: 46% !important;}
  .partners_d li img{width:60%;height:auto;}
  .agenda ul li{width: 48.1%;}
  .blog .bcol1, .blog .bcol2, .blog .bcol3, .blog .bcol4 {    width: 31%;}
  
  .blog .t18 {font-size: 12pt;}
  .sep_le{padding-left: 13px;}
  .reveal-modal{visibility:hidden;top:50%;left:50%;background:#fff url(../images/modal-gloss.png) no-repeat -200px -80px;position:fixed;z-index:500;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:0 0 10px rgba(0,0,0,.4);-webkit-box-shadow:0 0 10px rgba(0,0,0,.4);-box-shadow:0 0 10px rgba(0,0,0,.4);padding:30px 0 10px}
.reveal-modal.small{width:20%;margin-left:-10%}
.reveal-modal.medium{width:40%;margin-left:-20%}
.reveal-modal.large{width:60%;margin-left:-30%}
.reveal-modal.xlarge{width:80%;margin-left:-40%}
#header-left{margin:8px 0 0 0;}
}
@media only screen and (max-width:685px ){
	#top{margin-top:0px;}
	#header-right {min-height:70px};
	}
@media only screen and (max-width:647px){
  
.blog .b_lf {overflow:hidden;width: 100% !important;border-right: 2px #fff solid;height: 127px !important;}

.blog .b_lf img {    height: auto;    width: 100% !important;}
#header-wrap .img-text, #header-wrap #event-text{height: 163px;}
.blog .b_rg{width:100% !important;}
#header-right{width:100%;float:none;margin:auto;position:relative;top:0px;min-height:100px;text-align:center;}
#header-left{float:none}
#footer .col2{padding-left:0;}
#top{
  margin-top:0px;
}
#top-menu{
  width:280px;
  display:inline-block;
  text-align:center;
  float:none;
  margin:15px 0px 0px 0px;
}
.top_lL{float:none;display:inline-block;}


#event-list-left ul li{min-height: 388px;}
  .f-div-sml img {margin: -38px 0 0 -123px;}
  .video_cat li {width: 100% !important;}
  ul.video_cat li a {font-size: 14px !important;}
}
@media only screen and (max-width:495px) {
	#header-left{height:100px;margin-bottom:0px;}
	}
@media only screen and (max-width: 479px){
  #event-list-left ul li {    min-height: 349px;width: 295px;}
  #home-videos {  width: 275px;  margin: 0 auto;}
  #event-list .actions, #home-videos .actions {  width: 295px;  margin: 0 auto;}
  .t11 {    font-size: 12px !important;}
  #header-wrap .img-text, #header-wrap #event-text {height:auto !important;}
  .tel_sec .vcol1, .tel_sec .vcol2, .tel_sec .vcol3, .tel_sec .vcol4, .tel_sec .bcol1, .tel_sec .bcol2, .tel_sec .bcol3, .tel_sec .bcol4 {width: 100% !important;}
  
  .f-div-sml img {margin: -64px 0 0 -158px !important;width: 145% !important;}
  .sep_le {min-height: 100px;}
  .top_smnu a {font-size: 11px;}
  .popup-txt iframe {height: 193px;}
  
  #fancybox-content{height: 450px !important;width: 88% !important;height: 501px !important;}
  #fancybox-wrap {    left: 41% !important;}
  .agenda ul li{width:100%;}
  .blog .bcol1, .blog .bcol2, .blog .bcol3, .blog .bcol4 {width: 100%;}
  .blog .blog-wrap {height: 363px;}
  .hlt {float: none;width:100%;}
  .hlrs {background:none;float: none;width: 100%;}
  #header-left {    float: none;    margin: 20px auto 0;    width: 256px;}
  #header-left a img{width:100%;}
  #top-menu{ float: none;margin: 5px 2px 0 16px;}
  .top_lL{margin-top: 2px;}
  #header-right {    float: none;    margin: 0 auto; top:50px;min-height:48px;}
  #footer .col1, #footer .col2, #footer .col3, #footer .col4 {    width: 100%;    text-align: center;}
  .cpyrgt {top: 519px;}
  .b_rg {width:34.7%;}
  .b_lf {width:65.1%;}
  .speaker ul li{width: 100%;}
  .blog-thumb {width: 100%;height: 202px;}
  .videos .vcol2{width: 92% !important;}
  .glsm img{width:auto;}
  .glsm{text-align:center;}
  #footer .col2{padding-left: 0;}
  .cpyrgt{top: 617px;left: 15%;}
  #header-left{height: 67px;}
}

@media only screen and (max-width: 610px){
  .videos .vcol1, .videos .vcol2, .videos .vcol3, .videos .vcol4, .blog .bcol1 {width: 270px;}
  #fwslider .timers{right: 7px;}
  #top{
    margin-top:0px;
  }
}
@media only screen and (max-width: 460px){
  .f-div-sml img {margin: -71px 0 0 -158px !important;width:155% !important;}
  #top-menu li{display:inline-block;margin:0 auto;float:none;}
  .top_lL{margin:0 auto;display:none;text-align:center;float:none}
  #top-menu{width:100%;margin:0 auto;text-align:center;display:none}
  #header-right{width:100%;display:block;margin:0 auto}
  
}
@media only screen and (max-width: 351px){
.tel_sec .vcol1, .tel_sec .vcol2, .tel_sec .vcol3, .tel_sec .vcol4, .tel_sec .bcol1, .tel_sec .bcol2, .tel_sec .bcol3, .tel_sec .bcol4 {
    width: 98.4% !important;} 
}
.report h3 {
  color: #00BFF3;
  font-family: Brandon_bld,Arial,Helvetica,sans-serif;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 18px;
  text-transform: uppercase;
}
#blog-left .t10 img{width: 100% !important;display: block !important; height:auto !important;}