/*



Theme Name Responsiblebusiness



*/








@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensansreg-webfont.eot');
    src: url('fonts/opensansreg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensansreg-webfont.woff') format('woff'),
         url('fonts/opensansreg-webfont.ttf') format('truetype'),
         url('fonts/opensansreg-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {font-family: BrandonReg;src: url('fonts/Brandon_reg.otf');}







@font-face {







	font-family: Brandon_bld;







	src: url('fonts/Brandon_bld.otf');







}







@font-face {







    font-family: "CALIBRI";







    font-style: normal;







    font-weight: normal;







     src: url("fonts/CALIBRI.eot?#iefix") format("embedded-opentype"), url("fonts/CALIBRI.woff") format("woff"), url("fonts/CALIBRI.ttf") format("truetype");







}







@font-face {







    font-family: "calibri_italic";







    font-style: italic;







    font-weight: normal;







     src: url("fonts/calibri_italic.eot?#iefix") format("embedded-opentype"), url("fonts/calibri_italic.woff") format("woff"), url("fonts/calibri_italic.ttf") format("truetype");







}







@font-face {







    font-family: "Brandon_re";







    font-style: normal;







    font-weight: normal;







     src: url("fonts/brandon_reg.eot?#iefix") format("embedded-opentype"), url("fonts/brandon_reg.woff") format("woff"), url("fonts/brandon_reg.ttf") format("truetype"), url("fonts/brandon_reg.svg#ArimoRegular") format("svg");







}







@font-face {







    font-family: "Brandon_med";







    font-style: normal;







    font-weight: normal;







     src: url("fonts/brandon_med.eot?#iefix") format("embedded-opentype"), url("fonts/brandon_med.woff") format("woff"), url("fonts/brandon_med.ttf") format("truetype"), url("fonts/brandon_med.svg#ArimoRegular") format("svg");







}







html, body {







    margin:0;







    padding:0;







	width:100%;







	height:100%;







}







body{







    font-family:'open_sansregular', Arial, Helvetica, sans-serif;







    font-size:12px;







}















#slider a, #slider a:hover, #slider a:visited, #slider2 a, #slider2 a:hover, #slider2 a:visited{







	color:#000000;







}















.upper{







	text-transform:uppercase;







}







a{







	text-decoration:none;







}







#wrapper{







	width:1170px;







	min-height:500px;







	margin:0 auto;	







}







.line-separator{







	width:100%;







	






	height:1px;







}







.line-separator.bottom{







	position:absolute;







	bottom:30px;







	width:642px;







}







h3.section-title{







	font-family: 'Brandon_bld';	







	color: #00A1D4;







	font-size: 24px;







	margin:0;







	padding:0;







	font-weight:normal;







	line-height: 60px;







}







#header .line-separator{














}







#header-left{







	float:left;







	margin:39px 0 0 0;







}




.con_lef{width:171px;float:left;
margin-top: 15px;}
.con_rig{width:940px;float:right;padding-left: 29px;border-left:1px #dbdbdb solid;
margin-top: 15px;}



#header-right{







	float:right;







	width:495px;







	min-height:115px;	







}







#top{







	margin-top:14px;	 







}







#top-menu{







	float:right;	







}







#top-menu {	







    list-style-type: none;







    text-align: center;







    margin:5px 2px 0 auto;







    padding: 0px;














}
.top_lL {display: block;width: 137px;float: right;margin-top: 40px;}







#top-menu li{







	float:left;	







}







#top-menu li a, #top-menu li a:visited, #searchform label{







	font-family:'Brandon_med';







	font-size:12px;







	color:#231f20;







}







#top-menu li a:hover{







	text-decoration:underline;







}







#primary-menu{







	list-style-type: none;	







	margin: 0 auto;







	padding:0 0 19px 0;	



	border-top: 2px #000 solid;



}







#primary-menu li{

border-bottom:2px #000 solid;





	/*float:left;	*/







}







#primary-menu li a, #primary-menu li a:visited{





	display: block;

	font-family:'Brandon_med';



padding: 5px 0;



	font-size:28px;







	color:#231f20;







}
.top_smnu{background:#e6e7e8;padding:8px;margin-top: 10px;width:924px;float:right;height:19px;}







#primary-menu li a:hover, #social-media li a:hover, #useful-links li a:hover{







	text-decoration:none;color: #00BFF3!important;







}







#primary-menu .menu-items-separator{





display:none;

	margin-top:6px;







}







#primary-menu .current{







	color:#00BFF3!important;







}







#searchform input[type=text]{







	width:192px;







	height:18px;







	border:1px solid black;







}







#primary-menu-wrap{






margin-left: 0;







	position:relative;







}







#submenu{







	width:480px;







	height:32px;







	background:#00AEF0;







	position:absolute;







	top:51px;







	left:0px;







	z-index:1000;







}







.menu-items-separator{







	background:url(images/menu-items-separator.png) no-repeat;







	width:2px;







	height:9px;	







	margin:4px 17px;	







}	







.submenu-items-separator{







	background:url(images/submenu-items-separator.png) no-repeat;







	width:2px;







	height:8px;	







	margin:5px 17px;	







}	







.submenu { text-align:center; }







.submenu ul { display:inline-table;}







.submenu ul li {display:inline;}







#submenu ul{







	list-style-type: none;	







	margin-top:8px;







	margin-left:-20px;







}







#submenu ul li{







	float:left;







}







#submenu ul li a, #submenu ul li a:visited{







	font:8pt;







	color:#FFFFFF;







	font-family:'Brandon_bld';
}







#submenu ul li a:hover{







	text-decoration:underline;







}







#search-form{







	float:right;







}







#search-form label{







	padding-right:18px;







}







.clear{







	clear:both;







}







#footer .col1, #footer .col2{







	width:251px;







}







#footer .col3{







	width:251px;







}







#footer .col4{







	width:225px;







}




#footer{width:970px;float:right;}
.jntwr{padding:31px 0;border-top:2px #000 solid;border-bottom:2px #000 solid;line-height: 20px;}
.sgnp{background:#00bff3;color:#fff;text-transform:uppercase;display: inline-block;    padding: 2px 10px;margin-top: 14px;}
.jntwr h3{color:#00bff3;font-size:16px;text-transform:uppercase;padding-bottom:18px;}
.appfrm{}
.appfrm h3{color:#00bff3;font-size:16px;text-transform:uppercase;padding-bottom:18px;margin-top: 20px;}
.glsm{padding:0 0 46px;}


#footer .col1, .col2, .col3, .col4{	







	float:left;







	margin:12px 0 10px 0;







}







.t8{







	font-size:8pt;







}







.t9{







	font-size:9pt;







}







.t10{







	font-size:10pt;







}







.t11{







	font-size:11pt;







}







.t14{







	font-size:14pt;







}







.t18{







	font-size:18pt;







}







.t24{







	font-size:24pt;







}







.t_12{







	font-size:12px;







}







.t_14_{







	font-size:14.67px;







}







.t_14{







	font-size:14px;







}







.t_13{







	font-size:14px;







}







.t_26{







	font-size:26px;







}







.t_16{







	font-size:16px;

display: none;







}







.t_18{







	font-size:18px;







}







.t_24{







	font-size:24px;







}







.t_blue{







	color:#00A1D4;







}







.t_white{







	color:#FFFFFF;







}







.l_black{







	color:#231F20;







}







.t_gray{







	color:#A7A9AC;







}







.f_Brandon_bld{







	font-family:'Brandon_bld';







}







.f_Brandon_re{







	font-family:'Brandon_re';







}







.f_Brandon_med{







	font-family:'Brandon_med';







}







.f_calibri_italic{







	font-family:'calibri_italic';







}







.col2 ul, .col3 ul, .col4 ul{







	list-style-type: none;    







    margin: 0 auto;  







	margin-top:8px; 







	padding:0px;







}







.col2 ul li, .col3 ul li, .col4 ul li{







	margin-bottom:12px;







}







#content-left{







	float:left;







	width:731px;







}







#content-right{







	float:right;







	width:251px;







}







.television .videos{







	margin-top: 55px;







}







.television .text-paragraph{







	margin-top:20px;	







}







.videos .vcol1, .videos .vcol2, .videos .vcol3, .videos .vcol4{







	width:229px;







	float:left;







}







.blog .bcol1, .blog .bcol2, .blog .bcol3, .blog .bcol4{







	width:229px;







	float:left;







}







.video-wrap{







	width:229px;







	height:163px;







	background:#DADCDD;







	position:relative;	







}







.video-wrap .player{







	width:42px;







	height:40px;







	background:url(images/player.png) no-repeat;	







    position: absolute;







	top: 31px;







	left: 93px; 







	z-index:500;   







}







.video-thumb{







	width:229px;







	height:100px;	







}







.video-thumb-text{







	width:201px;







	height:47px;	







	overflow:hidden;







	padding:8px 13px;







}







#header-wrap{







	width:982px;







	position: relative;







}







#header-wrap .read-more{







	font-size:9pt;







	color:white;	







	position:absolute;







	right: 235px;







    top: 274px;







}







#header-wrap .read_more{







	font-size:9pt;	







	position:absolute;







	bottom:15px;







}







#header-wrap .read_more a, #header-wrap .read_more a:visited{	







	color:white!important;	







}







#header-wrap .read_more a:hover{	







	text-decoration:underline;







}







#forum .read-more{







	right: 229px!important;







    top: 246px!important







}







.homepage.read-more{







	right: 232px!important;







    top: 247px!important;







}







#header-wrap #blog-text .read-more{







	right: 187px;







	top: 255px;







	width:100px;







}







#header-wrap .read-more a, #header-wrap .read-more a:visited{







	color:#FFFFFF;







	text-decoration:none;







}







#header-wrap .read-more a:hover{	







	text-decoration:underline;







}







#header-wrap .t11{







	margin-top:15px;	







}







#header-wrap-left{







	width:647px;	







	float:left;







}







#header-wrap-right{







	width:335px;	







	float:left;







}







#header-wrap .slider-text{







	width:305px;







	height:262px;







	overflow:hidden;







	margin-left:673px;







	margin-top:27px;







	position:relative;







}







#header-wrap .img-text{







	float: right;







    height: 280px;







    width: 332px;







	position:relative;	







}







#header-wrap .img-text-wrap{







	margin:15px;	







}







#header-wrap .img-text-wrap .t_26{







	font-weight:600;







}







#header-wrap .img-text-wrap .t_16{







	padding-top:27px;







	font-weight:600;







}







#header-wrap .event-cat{







	background:url(images/event-line-header.png) no-repeat;







	width:208px;	







	overflow:hidden;	







	padding:0px 0px 0px 15px;	







	line-height:20px!important;







	font-size:20px;







}







#header-wrap #event-text{







	float: right;







    height: 280px;







    width: 332px;







	position:relative;	







}







#event-text-wrap{







	margin:31px;







	position:relative;







	height:217px;







}







.event-details{







	position:absolute;







	bottom:0px;







}







#header-wrap #event-text .t10{		







	padding-top:5px;	







}







#header-wrap #blog-text{







	width:290px;







	margin-left:673px;







	margin-top:25px;	







	position:relative;	







	height: 274px;







	overflow:hidden;







}







#header-wrap-img{







	background:#01AEF0;







	height: 280px;    







    width: 982px;







	margin-top: 12px;	







}







#header-wrap .slider-text .t_26{







	font-weight:600;







}







#header-wrap .slider-text .t_16{







	padding-top:27px;







	font-weight:600;







}







#header-wrap .slider-text{







	position:relative;







}







#header-wrap .slide-small{







	width:313px;







	height:116px;







	cursor:pointer;







	position:relative;	



margin-left: 12px;



}







#header-wrap .slide-small .t_10{







	width:134px;







	height:97px;







	color:#FFFFFF;







	padding-left: 10px;







    padding-top: 10px;







}















#header-wrap .slide-small .read_more{		







	position:absolute;







	bottom:7px;







	display:block;







}















#header-wrap .slide-small .read_more a, #header-wrap .slide-small .read_more a:visited{	







	color:#000000;







}	















#header-wrap .slide-small .read_more a:hover{	







	text-decoration:underline;







}	































#col3, #col2{







	margin-right:1px;







}







#header-wrap #slider-thumb{







	margin-top:-5px







}







#close-modal-icon{







	text-align:right;







}







.simplemodal-container{







	position:relative;







}







#video-wrap{







	font-family:'CALIBRI';







	color:#231F20;







}







#video-wrap-left{	







	float:left;







	width:326px;







	position:relative;







}







#video-wrap-right{







	float:right;







}







#show-video{	







    min-height: 300px;   







}







#video-wrap-content{







	margin: 0 auto;







	width: 500px;







}







.fleft{







	float:left;







}







.fright{







	float:right;







}







#video-category{







	z-index:1000;	







}







#video-category ul {







    font-family: Arial, Verdana;







    font-size: 12px;







    margin: 0;







    padding: 0;







    list-style:circle;







	width:210px;	







	background:url(images/drop-down-bg.png) repeat;	







}







#video-category ul li {







    display: block;







    position: relative;







    float: left;







	margin-left:17px;	







}







#video-category li ul {







    display: none;







}







#video-category ul li a {







    display: block;







    text-decoration: none;







    color: #ffffff;







    border-top: 1px solid #ffffff;







    padding: 5px 15px 5px 0px;   







    margin-left: 1px;







    white-space: nowrap;	







}







#video-category ul li a:hover{







	display:block;	







}







#video-category .no-style{







	background:none!important;







}







#video-category li:hover ul {







    display: block;







    position: absolute;	







}







#video-category li:hover li {







    float: none;







    font-size: 11px;







}







#video-category a:hover { 	







	font-weight:bold;







}







#video-category:hover #drop-down{







	display:inline; 	







}







#video-category img{







	margin:0 5px 2px 0;







}







#last-participant{







	float:right;







	background-color:#eff0f0;







	width:226px;







}







#last-participant ul{	







	padding: 5px 0px 0px 27px;







}







#last-participant li a{







	color:#231f20;	







}







#last-participant li a:hover{







	text-decoration:underline;







}







#last-participant li{







	margin-bottom:5px;







}







.show-video{







	cursor:pointer;







}







.content{ width:226px; height:715px; overflow:auto; }







#video-category-wrap{







	position:relative;	







}







#video-category-wrap #drop-down{







	position:absolute;	







    top: -14px;







	right: -22px;







	display:none;







}







#video-category{







	position: absolute;







    right: 17px;







    top: 14px;







}







#video-category #menu{







	z-index:1000;







}







#video-category .video-category-name{







	position:relative; 







	right: -55px; 







	top: -7px;	







	cursor:pointer;







}







.pagination{







	 list-style-type: none;	







	 margin:0px;







	 padding:0px;







}







.pagination li{







	float:left;







	margin-right:5px;







}







.pagination .page{







	cursor:pointer;







}







.line-bottom{







	margin-top:2px;







	margin-bottom:32px;







}







#forum .line-bottom{







	margin-bottom:10px!important;







}







#event-list{







	width:982px;







	min-height:100%; 	







	position:relative;







	color:#231F20;	







	overflow:hidden;







}







#event-sep{







 	left: 617px;







    position: absolute;







    top: 1px;







}







#event-list-left{	







	width:618px;







}







#event-list-right{	







	width:364px;







}







.event-list-right.section-title{







	padding-left:15px;	







}







.event-wrap-left{







	background:url(images/event-line.png) no-repeat left bottom;	







	width:153px;







	height:61px;







	margin:10px 0px 0px 8px;







	padding:0px 0px 0px 8px;







	float:left;







}







.event-wrap-right{







	float:left;







	width:397px;







	margin:10px 0px 0px 22px;







}







.event-wrap-right a, .event-wrap-right a:visited{







	color:#00A1D4;







}







.event-wrap-right a:hover{







	text-decoration:underline;







}







.past-event-wrap{







	margin:15px 0px 0px 19px;







}







.past-event-wrap a, .past-event-wrap a:visited{







	color:#231F20;







}







.past-event-wrap a:hover{







	text-decoration:underline;







}







.past-event-wrap .t_blue{







	margin-bottom:5px;







	display:block;







}







#forum .videos{







	margin:0px!important;







}







#container{







	min-height:500px;







	border:1px solid balck;







}







.g-text{







	color:#aeaeae;	







}







.b-text{







	color:#00aef0;	







}







.text-paragraph{







	display:block;







	margin-bottom:20px;







	font-size:14pt;







	line-height:17pt!important;







}







.left_column{







	display:block;







	float:left;







	width:229px;	







	margin-right:23px;







}







.right_column{







	display:block;







	float:left;







	width:479px;	







}







.right_column p {	margin-bottom: 15px;}







.event-child #content{







	margin-top:36px;	







}







.event-child .left_column{







	margin-top:30px;







}







.event-child .right_column{







	margin-top:30px;







}















#partners{







	float:right;	







	width:226px;







}







#partners ul{







	margin:30px 20px;







	padding:0px;







	list-style-type: none;	







}







#partners ul li{







	margin-bottom:30px;







}







.event-child #content #content-left table td{







	vertical-align:top;







}







.event-child #content table td:first-child{







	width:100px;







}







.event-child.child .left_column{







	width:122px!important;	







	margin-top:0px!important;







}







.event-child.child .right_column{







	width:586px!important;		







	margin-top:7px;







}















.event-child.child .right_column .agendaTable{







	margin-top:-9px!important;







}















.event-child.child .right_column .line-separator{







	display:block;







	margin:22px 0px 9px 0px;







}







p{







	padding:0px;







	margin:0px;







}







.event-child .right_column a, .event-child .right_column a:visited{







	color:#00AEF0;







}







.event-child .right_column a:hover{







	text-decoration:underline;







}







.home .text-paragraph{







	margin-top:20px;







}







#event-list .actions{ width:982px; }







#event-list .row { width: 982px; min-height:100%; }







#event-list .cell1{width: 618px; float:left; min-height:100%;}







#event-list .cell2{width: 1px; float:left; background:url(images/line-separator-y.png) repeat-y; min-height:inherit;position:absolute; left:618px; }







#event-list .cell3{width: 363px; float:left; min-height:100%; }







.blog #content{







	margin-top:30px;	







}







.blog .blog-wrap{







	width:229px;







	height:244px;







	background-color:#DADCDD;







}







.blog-thumb{







	width:229px;







	height:100px;







}







.blog-text{







	width:205px;







	height:120px;







	overflow:hidden;	







	margin:10px 0 0 11px;	







	position:relative;







}







.blog-text .t11{







	margin-top:5px;







}







.blog-text .t9{







	margin-top:7px;







}







.blog-text .read-more{	







	font-size:9pt;







	position:absolute;







	top:108px;







	left:0px;







}







#blog-left{







	float:left;







	width:648px;







}







#blog-right{







	padding-left:20px;	







	float:right;







	width:314px;	







}







#blog-left, #blog-right{







	margin-top:12px;







}







#blog-left .t10{







	margin-top:20px;	







}







#blog-left .t_11{







	color:#888888;	







}







#blog-left .t24{







	margin-top:5px;	







	line-height:29px;







}







#blog-left .t11.t_blue{







	margin-bottom:15px;	







}







#blog-right{







}







#blog-right-wrap{







	background-color:#EFF0F0;







	width:314px;	







	padding-bottom:10px;







}







#blog-right-wrap .section-title{







	margin-left:15px;







}







#blog-right-wrap ul{







	list-style-type: none;







	margin:15px 0 0 15px;







	padding:0px;







}







#blog-right-wrap li{







	background:url(images/blog-bullet.png) no-repeat;







	width:250px;







	padding-left:27px;







	margin-bottom:30px;







}







#blog-right-wrap .pdate{







	color:#34B6E4;







}







#blog-right-wrap li a, #blog-right-wrap li a:visited{







	text-decoration:none;







	color:#231F20;







	font-size:9pt;







}







#blog-right-wrap li a:hover{







	text-decoration:underline;	







}







.mCSB_dragger{







	height:152px!important;







}







img.grayscale, .player, .slidegrayscale {







    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */







    filter: gray; /* IE6-9 */







    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */







    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */







    -webkit-backface-visibility: hidden; /* Fix for transition flickering */







}







img.grayscale:hover, .player:hover{







    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");







    -webkit-filter: grayscale(0%);







}







#searchform .search{







	background:none;







	border:0px;







	color: #231F20;







    font-family: 'Brandon_med';







    font-size: 12px;







}







a img{







	border:0px;







}







.ccontent a, .ccontent a:hover{







	color:#00A1D4;	







	text-decoration:none;







}







.ccontent a:hover{







	color:#00A1D4;	







	text-decoration:underline;







}







.ccontent p{







	margin-bottom:20px!important;







}







.ccontent{







	line-height:18px;







}







#pagination{







	width:100%;







	height:50px;







}







#page-wrap-left{







	float:left;







}







#page-wrap-right{







	margin-top:-5px;







	float:right;	







}







#page-wrap-right .paging{







	cursor:pointer;







}







.addthis_toolbox{







	display:none;







}







#at15s{







    position: absolute;    







}















.agendaTable {







border-collapse: collapse;







border-spacing: 0;







}















*:first-child+html .agendaTable { border-collapse: collapse; } /* IE 7 */







* html .agendaTable { border-collapse: collapse; } /* IE 6 */















.agendaTable {







width: 100%;







border-spacing: 0;







border-left: 1px solid #fff;







border-bottom: 1px solid #fff;







margin-bottom: 10px;







}















.agendaTable tr, .agendaTable th, .agendaTable td {







padding: 4px;







border-top: 1px solid #fff;







border-right: 1px solid #fff;







line-height: 18px;







}















.more_videos{







	margin-top:18px;







}







.right_column > h1, h3, h3, h4, h5, h6 {







	margin:0px;







}















#home-videos{







	width:100%;







	min-height:100%; 	







	position:relative;







	color:#231F20;	







	overflow:hidden;







}















#home-videos .actions{ width:982px; }







#home-videos .row { width: 982px; min-height:100%; }







#home-videos .cell1{width: 302px; float:left; min-height:100%;}







#home-videos .cell2{width: 1px; float:left; background:url(images/line-separator-y.png) repeat-y; min-height:inherit;position:absolute; left:491px; }







#home-videos .cell3{width: 302px; float:left; min-height:100%; }















.home-videos-wrap{







	background: url("images/event-line.png") no-repeat scroll left bottom transparent;    







    height: 42px;







    margin: 17px 0 0 13px;







    padding: 0 0 0 8px;







    width: 153px;







	line-height:14px;







}















#videos-forum{







	margin-left:11px;







}















#videos-forum, #videos-tv{







	margin-top:24px;







	margin-bottom:31px;







}























#controls-pills{







	







}







#controls-arrows{







	position:absolute;







	right:0px;







	top:288px;	







}















#videos-tv .vcol2{







	margin-left:3px;







}















.video-icon{







	position:absolute;







	left:258px;







	top:73px;







}















.slide-small-wrap{	







    height: 114px;







    margin-left: 159px;







    width: 152px;







}







#main > #footer{ display:none !important;}

#header-wrap-img > a{float:left;}



/*	--------------------------------------------------

	Reveal Modals

	-------------------------------------------------- */

		

	.reveal-modal-bg { 

		position: fixed; 

		height: 100%;

		width: 100%;

		background: #000;

		background: rgba(0,0,0,.8);

		z-index: 100;

		display: none;

		top: 0;

		left: 0; 

		}

	

	.reveal-modal {

		visibility: hidden;

		top: 30%; 

		left: 50%;

		margin-left: -300px;

		width: 536px;

		background: #fff url(../images/modal-gloss.png) no-repeat -200px -80px;

		position: absolute;

		z-index: 500;/*101*/

		padding: 30px 0px 10px;

		-moz-border-radius: 5px;

		-webkit-border-radius: 5px;

		border-radius: 5px;

		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);

		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);

		-box-shadow: 0 0 10px rgba(0,0,0,.4);

		

		}

		

	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}

	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}

	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}

	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}

	

	.reveal-modal .close-reveal-modal {

		font-size: 22px;

		line-height: .5;

		position: absolute;

		top: 8px;

		right: 11px;

		color: #aaa;

		text-shadow: 0 -1px 1px rbga(0,0,0,.6);

		font-weight: bold;

		cursor: pointer;

		} 

	/*

		

	NOTES

	

	Close button entity is &#215;

	

	Example markup

	

	<div id="myModal" class="reveal-modal">

		<h2>Awesome. I have it.</h2>

		<p class="lead">Your couch.  I it's mine.</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna quis turpis mattis venenatis eget id diam. </p>

		<a class="close-reveal-modal">&#215;</a>

	</div>

	

	*/

	.popup-txt {

  border-bottom: 2px dotted #333333;

  border-top: 2px dotted #333333;

  margin: 10px;

  padding: 15px;

  text-align: center;

  width: 90%;

}

h4.join_us {

  color: #333333;

  font-size: 30px;

  line-height: 34px;

  margin-bottom: 27px;

}

.popup-txt table td input[type="text"], .popup-txt table td input[type="email"], .popup-txt table td select, .popup-txt table td textarea {

  background: none repeat scroll 0 0 #FFFFFF;

  border: 1px solid #CCCCCC;

  color: #666666;

  height: 22px;

  margin-bottom: 15px;

  padding: 4px;

  width: 206px;

}



.popup-txt table td select{



  height: 30px;

  width: 216px;



}

.popup-txt table td input[type="submit"] {



  background-color: #01AEF0;

  border: medium none;

  border-radius: 5px 5px 5px 5px;

  cursor: pointer;

  height: 30px;

  width: 100px;



}

.blue-menu #top_menu_sub .sub-menu .sub-menu {

	left:150px;

	top: -1px;

	text-transform:uppercase;

	



}

/*#top_menu_sub{

width: 507px;

float:right !important; 

}*/

#top_menu_sub li ul {

	width:150px !important;

	text-transform:uppercase;

	

}



#top_menu_sub li:hover ul ul, #top_menu_sub li:hover ul ul ul, #top_menu_sub li:hover ul ul ul ul {display:none;}

#top_menu_sub li:hover ul, #top_menu_sub li li:hover ul, #top_menu_sub li li li:hover ul, #top_menu_sub li li li li:hover ul {display:block;}

#top_menu_sub > li.li_active > a{background:url(images/arrow-down.png) no-repeat 98% 56%;}

#top_menu_sub li.li_sub_active > a{background:url(images/arrow-right.png) no-repeat right center;}



.blue-menu {

  float: right;

}

#header-right{

min-height: 123px;

}

#top_menu_sub{

min-width: 480px;

}



#header-wrap .slide-small .t_10 {



  margin-left: 166px !important;



}









img.grayscale, .player, .slidegrayscale {

-webkit-filter: inherit !important;

}
.hlt{width:612px;float:left;border-top:2px #000 solid;}
.hlrs{width:301px;float:right;background:url(images/blck-line.png) no-repeat right top}
.sep_le{background:url(images/bot-sep.png) repeat-y 0 50px;padding-left: 32px;margin-top: 32px;}